[2015-02-27 12:41] chr15m opened #9 "Make test^js failed with a float precision error"
[code]

[2015-02-27 12:44] chr15m commented on #9
[code]

Ah:

[code]

Way to go, Javascript.

[2015-02-28 17:22] #9 closed

[2015-02-28 17:23] kanaka commented on #9
I didn't want to force integer results so I changed the test to result in whole number.

[2015-03-01 20:52] garrickp opened #17 "Filename typo in step 3"
In step three of the process [guide](https://github.com/kanaka/mal/blob/master/process/guide.md#step-3-environments), when renaming the files for implementing step 3, the new file name  is printed as `step2_env.qx`, but it should be `step3_env.qx`.

[2015-03-01 21:49] #17 closed

[2015-03-01 21:50] kanaka commented on #17
Fixed. Thanks

[2015-03-02 18:40] kristjan opened #18 "Matlab code doesn't clone properly on case-insensitive file systems"
Here's some fascinating collision behavior for you. On case-insensitive file systems, Git repositories that have two files differing only in case don't clone properly. The just-cloned repo thinks it already has modifications, and attempting `checkout` just toggles which file it believes was modified!

Since we're unlikely to change people's file systems, perhaps someone with more (any) Matlab know

[2015-03-02 19:05] #18 closed

[2015-03-02 19:05] kanaka commented on #18
I moved Reader.m to +types/Reader.m. See if that fixes it for you.

[2015-03-02 19:12] kristjan commented on #18
All good :+1: Nice response time!

If you're interested in a solid Torvals rant about case-insensitive filesystems, https://plus.google.com/+JunioCHamano/posts/1Bpaj3e3Rru (via @rpdillon)

[2015-03-02 19:15] kanaka commented on #18
Welcome.

Yes, case-insensitive file systems probably seemed like a nice user convenience at the time.

[2015-03-04 01:37] boxed opened #19 "Finish/improve guide (steps 9, A, keyword, vector, hash-map, atom)"
The prompt has to be "user>" or "mal-user>", the guide doesn't mention that until you run the test suite and it complains about that.

"distringuishing" is not a word :P

Generally there is a lot of handwaving going on I feel. For example "Add support for the other mal types: keyword, vector, hash-map, and atom." Not even examples for syntax are given! Same with the optional step of implementing q

[2015-03-04 03:05] kanaka commented on #19
@boxed thanks for the feedback. You're right that the guide is still somewhat rough and has incomplete spots. I've tried to mark the really glaringly incomplete parts with TODO/TBD.

I added a parenthetical comment for step0 to indicate that the prompt needs to be "user> ". ("mal-user> " is what the mal (self-host) implementation uses which is why the tests check for that too). I also fixed the ty

[2015-03-04 07:38] boxed commented on #19
I'm doing python3 as a fun exercise.

My level is pretty high. ~14 years of professional programming. 9 C++, 4 Python. And several years hobby coding before that. I'm also self taught.

[2015-03-04 17:09] arthurprs opened #22 "Build Rust in release mode"
cargo build --release

This enables compiler optimizations and will likely give it a big boost without touching the code.

[2015-03-04 17:26] kanaka commented on #22
Ah! I'm not sure how I missed that. Sure enough, that gives about 10X performance boost and places it firmly with the other AOT compiled languages (C, Go, Nim, OCaml).

Pushed 434516e

[2015-03-04 17:26] #22 closed

[2015-03-04 17:49] arthurprs commented on #22
Cool! Were are you keeping the scores? It would be nice to have them in a wiki page

[2015-03-05 02:40] kanaka commented on #22
@arthurprs well, I'm not really keeping score yet. Those stats were really just for my own personal enlightenment as a VERY rough comparison. You can of course run them all yourself (make perf or make perf^IMPL), you just need to install the dependencies for the the ones you're interested in.

I think once I have tests that are more statistically valid, then I might put up a wiki page or something

[2015-03-05 21:17] asterite opened #27 "Why a mal function needs the function in step 5 (TCO)?"
It says:

[code]

But I don't see where that original function is used, anywhere.

Is that a mistake or is there something I'm overlooking?

[2015-03-05 21:54] kanaka commented on #27
Yeah, that's because I haven't written most of step9 in the guide yet. You won't need it until you try and implement the map and apply core functions. Then you'll be happy you did because you can just extract the function and run it. In OOP languages, I've done this via an apply method on the malfunc object, but you still either need the original function or a reference to EVAL stored in the objec

[2015-03-05 21:58] kanaka commented on #27
Crystal eh? I think that's the first time I've heard of it. Looks interesting.

[2015-03-05 22:11] asterite commented on #27
Oh, I see! I'm in step 6 right now, and I searched in the guide to see if that `fn` was mentioned elsewhere. Thanks for the clarification, I won't remove it then :-)

Crystal is pretty new, maybe that's why it's not on that page. Thanks to your guide I was able to find a couple of bugs in the compiler, mostly because of the need to use function pointers and closures.

Thank you so much for this pr

[2015-03-05 22:26] kanaka commented on #27
Awesome! That's exactly the sort of experience I was hoping people would get from it.

And yes, apart from the homoiconic nature of Lisp syntax, the very structured syntax means that reading (lexing/parsing) and printing are nearly trivial compared to other languages. Reading and writing it as a human takes a while to get used to, but if you have a decent editor syntax that does syntax highlightin

[2015-03-05 22:29] kanaka commented on #27
Oh, I forgot to mention. Feel free to join #mal (freenode). Some of the other contributors/implementors of mal hang out there.

[2015-03-06 14:16] moniya opened #30 "Not able to run tests."
Just cloned the mal repo and I'm having problems running the tests. I use `make test^ruby^step0` to run the ruby implementation, but it's the bash implementation that gets run, and it even breaks, same for other languages I tried.

[2015-03-06 14:34] kanaka commented on #30
@moniya there are no tests for step0 (I may add some at some point just for completeness). Can you post the output that you get from running `make test^ruby^step1`? What OS are you on?

[2015-03-06 15:05] moniya commented on #30
I'm OSX Lion (10.7.5). I experience the same issue running other steps, too. Here's the output for `make test^ruby^step`:

[code]
Completes with the following after a long pause:

[code]

[2015-03-06 15:06] moniya commented on #30
I'm excited about your project and can't wait to get on board. Well done. Thanks ;)

[2015-03-06 15:25] kanaka commented on #30
@moniya Okay, looks like a couple of different problems that are probably related to OS X (I don't have an easy OS X test system so it's not surprising really).

- something weird is going on with the makefile rules such that maybe the default rule is being run instead of the one you specify. What version of make do you have? `make --version`

- there is a non-fatal complaint at cleanup for the te

[2015-03-06 15:49] moniya commented on #30
@kanaka My make is `GNU Make 3.81`. Tried the workaround. It did work around well. Thanks. :) A shame I'm not good with Make, otherwise I'd gladly contribute a fix.

As an aside, I tried the workaround on the Racket implementation (step 4) several times. It ran well, but sometimes test failures were reported, but sometimes not. And the number of failures reported on each test run varied. Is that n

[2015-03-06 17:12] kanaka commented on #30
@moniya I don't see that variation on my system (Ubuntu 14.04) with Racket v5.3.6. I just ran it 10 times in a row with no variation. If you're only seeing that with Racket then it is possible there is something odd with newer Racket. If you see it with other languages, then it's more likely that the use of pseudo-terminals (pty) in runtest.py is being affected by some difference of OS X.

[2015-03-06 17:28] def- commented on #30
Maybe it has to do with your shell using `^` as a special character. ZSH does that for example. Try `make "test^ruby^step1"`.

[2015-03-06 17:44] moniya commented on #30
@def- Thanks! Using double quotes solved the issue. Also, running the original command on bash gave no issues. You are right. Zsh is the culprit here. I remember having problems running git commands in Zsh when using carets.

[2015-03-06 17:52] moniya commented on #30
@kanaka I switched to Racket v5.3.6 and still ran into the same issue. I'll see if I can look into it.

[2015-03-06 18:08] kanaka commented on #30
@def- good catch. I didn't realize that was a special character in zsh.

@moniya it's possible that it's a performance related issue. Racket may be sending output faster than ruby or python and that may be what's triggering the issue for the harness. That's just a wild guess though. I'd be interested in output from a failing case vs a passing case (just the part of the test that failed vs not).

[2015-03-06 18:14] moniya commented on #30
@kanaka I'll soon post something consistent about the failures that I find interesting and might be helpful in solving the issue. I need to find power for my laptop as the battery has run out .

[2015-03-06 18:50] moniya commented on #30
Output for two test cases when they succeed and when they fail:

---

[code]
[code]

All the failures exhibit this pattern: the tested expression being duplicated in the result.
Looks like a race issue. Also, a lot more tests were failing when my battery was low and the system culled performance than when it was operating normally.

As earlier stated, the PHP implementation also gave the same issu

[2015-03-07 13:48] boxed commented on #19
There's also some mismatch between the tests and the guide. For example the guide says that number and lists are required in step 1, but the tests requires quoting, quasiquoting, unquoting and splice-unquote.

[2015-03-07 15:11] #27 closed

[2015-03-07 15:12] kanaka commented on #27
I noted in the guide that this is deferrable until step 9.

[2015-03-07 15:13] kanaka commented on #19
The general hints section notes that optional guide sections and optional tests are not quite the same. But you're the second one to mention this so I've changed the word the guide uses to "deferrable".

[2015-03-07 20:56] boxed commented on #19
"modify exiting environments"

middle word should be "existing"

[2015-03-07 21:24] kanaka commented on #19
Done.

[2015-03-07 21:55] boxed commented on #19
nice! here's another one :P

"symbol "let": create a new environment"

Should be "let*"?

[2015-03-08 09:59] boxed commented on #19
"However, our little interpreter has not quite reach Lisp-ness yet. The next several steps will take"

Should be "reached". And that sentence just ends abruptly

[2015-03-09 21:18] kanaka commented on #19
Fixed. Keep them coming!

[2015-03-10 12:00] vi opened #36 "Similar test failures in multiple languages"
[code]

The programs does actually output those bytes:

[code]

Why does this happen? Is it some interference from readline?

[2015-03-10 17:04] kanaka commented on #36
@vi Yes, I'm pretty sure this is a result of readline behaving in a way that runtest.py is not expecting. What OS and version are you running? Also, do you know what version of readline you are using on your system? Also, do any other languages pass or have you just tried rust, python and perl?

[2015-03-10 17:44] vi commented on #36
Debian wheezy/sid. How do I look for readline version? Maybe it's `6.2+dfsg-0.1 0`. Some other languaes (like Go). CSharp passes this test, but still have 1 failure in a some readline test. Make and bash failes.

Why should the tests be readline-enabled by default? I except them to use clear mode (except of the tests dealing with readline explicitly).

Maybe the "Step 0" should be modified to incl

[2015-03-10 18:27] kanaka commented on #36
@vi some of the implementations support a --raw flag to disable avoid readline/editline support. It is an optional feature, but most of the implementations do have it and it's a really nice feature to have if it's available. The tests run across all the implementations correctly for me so I'm not sure what's happening in your environment. You can try using runtest-old.py. It uses pexpect and it's

[2015-03-10 18:36] kanaka commented on #36
@vi I also just added a --no-pty option to runtest.py This should run the the implementations without using a tty/pseudo-tty (i.e. just using pipes). However, this mostly doesn't help for me. The behavior of the various readline/editline/linenoise implementations seems to be all over the map when not run in a tty/pty. The test uses display of prompt and echo to correlate tests to output and to det

[2015-03-11 10:45] vi commented on #36
The `--no-pty` option does not change the behaviour:

[code]

I think it's better to require `--raw` (or analogue) across implementations to be testable. Personally I don't typically link to readline in my programs at all, as `rlwrap` is sufficient for enhancing usability in such simple cases.

[2015-03-11 13:43] kanaka commented on #36
I'm not a fan of rlwrap compared to having REPLs just DTRT. Rlwrap is great idea, but it never quite works right for me out of the box and it's far less likely to be installed on random systems compared to readline or editlib. If --no-pty is still giving you that same behavior then there is something seriously broken about readline on your system. Your readline is failing to detect that the stdin/

[2015-03-11 16:02] vi commented on #36
Tried with NixOS, it works better (no extra terminal codes at least).

But both `runtest.py`'s --no-pty and perl version's `--raw` hangs and times out there.

[2015-03-11 20:17] boxed commented on #19
Extra "the" in "call to evaluate all the parameters the except for"

"do: change the eval_ast call to evaluate all the parameters". Weird, my code from last step doesn't have a call to eval_ast, but a call to EVAL. All tests run and reading the instructions again it seems I've followed them. Looking at the python implementation in mal it does indeed do eval_ast but if I change to do that I don't p

[2015-03-13 22:23] tbu- opened #40 "runtests.py could detect if the interpreter process crashes"
Would be faster than waiting for timeouts.

[2015-03-14 22:08] boxed commented on #19
The recommendation to put things in reader.qu, core, printer, etc is something I'm finding a bit doubtful. It makes the steps in the guide interfere with previous steps, which is a bit bleh in my opinion. Better to KISS and just have one file.

[2015-03-14 22:11] boxed commented on #19
Step 5 has other issues, like tests failing that SHOULD fail but they are still written out as failed. This BEFORE tests that are in fact mandatory. It's super confusing!

[2015-03-14 22:13] boxed commented on #19
The timeouts on tests is super annoying too. Why does the tests wait for "foo\nuser>" for 10 seconds when it has already gotten a huge stack trace? This seems to me to be just annoying and slow down the guide and make you want to stop doing it.

[2015-03-14 23:11] kanaka commented on #19
@boxed Sorry you're getting bogged down :-( But thanks for providing feedback to improve things so that others are less like to run into the same things. I wish it could be perfect from the beginning, but this is just a side project I do in my free time. Also, even if I had 6 extra hours every day, there would probably still be gaps and inconsistencies because I've been working on mal for a couple

[2015-03-15 09:16] boxed commented on #19
I wouldn't say I get bogged down exactly.. I am progressing quite nicely given that I have very little time to fiddle with this :P

Really I think the guide is quite good, but it can obviously be better! I absolutely understand that it's impossible to see your own project with new eyes. That's why I'm taking so much of my time to document these confusions I'm having even though I can obviously fig

[2015-03-15 09:31] boxed commented on #19
More feedback!

"In your main program, add a new eval (symbol) entry to your REPL environment...."

This whole section is very specific and complex. I think it'd be better to describe what it should do in simpler terms... like "In your main program, add the symbol "eval" to your REPL environment. It's just a function that takes an AST and runs it. So "(eval (+1 1))" = 2, just like "(+ 1 1)". The e

[2015-03-15 09:34] boxed commented on #19
Section 6: when you run the tests you get failures on "Testing that *ARGV* exists and is an empty list". There is no mention of this *ARGV* in the guide at all! I'm guessing I should set it to an empty list for now? :P

[2015-03-15 13:52] boxed commented on #40
I've implemented a small change for my own code that makes a big difference: wrap the contents of read_to_prompt in:
[code]

And then change cleanup() to:

[code]

Then you can ctrl+c out of something and see what happened. This is a HUGE improvement over the current usability, for a very trivial code change.

[2015-03-15 15:55] kanaka commented on #40
@boxed that's a good improvement for sure. I pushed a slight variation on that. Thanks.

[2015-03-15 20:06] kanaka commented on #19
@boxed I reworded the text regarding eval to try and simplify the text and also expanded the conclusion text of step6 to describe why eval is so interesting. Let me know if that clarifies it any for you.

And yes, the ARGV issue was due to markdown making it italics rather than preserving the stars. I've fixed that now too.

[2015-03-16 20:07] boxed commented on #19
Step 7: nothing to add! W00t! :P

[2015-03-16 20:44] boxed commented on #19
step 8: should mention that tests will try functions nth, first, rest

[2015-03-17 20:27] boxed commented on #19
This makes me confused:

[code]

Why should (def! x nil) be ignored? Seems weird to me.

[2015-03-17 20:49] keith-rollin commented on #19
The guide says:

  * `nth`: this function takes a list (or vector) and a number (index)
    as arguments, returns the element of the list at the given index.
    If the index is out of range, this function raises an exception.

I take that to mean that the second expression doesn't complete, and so x remains unchanged, meaning that it stays set to "x".

[2015-03-17 21:33] boxed commented on #19
Ah. I guess I was thrown off by the asymmetry with how first shiuld work. Thanks!

[2015-03-18 10:10] NalaGinrut commented on #36
I encountered the similar problems when I'm trying to write one for GNU Guile. In the beginning I feel very strange why all the implementations added readline feature. I didn't think more and just added it.
But now I can't pass after I replaced the old reader with realine featured one:
[code]

My OS is openSUSE-12.2, and readline is libreadline6. This couldn't be the problem of Guile IMO.

[2015-03-18 10:12] NalaGinrut commented on #36
Anyway, it's fine for me to disable readline reader and finish the rest work.

[2015-03-18 13:23] kanaka commented on #19
@boxed I re-ordered the tests in step8 to better match the guide by pushing nth, first, rest down a bit. That way the first tests are directly about basic macro functionality.

And yes, for core functions I've largely kept to the behavior of Clojure core functions. It is a bit inconsistent that nth throws with invalid index but first, and rest return nil but that's the way it is. And as @keith-rol

[2015-03-18 14:04] kanaka commented on #36
@NalaGinrut yes, readline is definitely optional. I personally find it very convenient to implement early because it's streamlines development (I can just up arrow, enter, up arrow, enter to test the current form I'm working on), but it's certainly not necessary at all. Just a nice to have.

@vi so I might have figured out one of the readline issues and the reason things behave differently for you

[2015-03-18 15:02] vi commented on #36
Isn't "up arrow, enter, up arrow, enter" handled well by rlwrap?

[2015-03-18 15:06] vi commented on #36
Something is broken with testing in master, it works worse:

[code]

If I comment out `env['TERM'] = 'dumb'` the result it the same.

[2015-03-18 15:29] NalaGinrut commented on #36
@kanaka Indeed, it's fixed.
[code]

Thanks!

[2015-03-18 16:26] kanaka commented on #36
@NalaGinrut okay, good to know. If you merge with master you shouldn't have to specify it to make (runtest should do that for you).

@vi sigh. I think it's failing earlier because I added step0 tests since then (which should flush out some of these issues early for one thing). It still looks to me like readline is behaving inappropriately to me in your environment, but I couldn't tell you why. I'm

[2015-03-18 18:15] kanaka commented on #36
@vi can you try again. I'm pushed a change to force the size of the pty for the subprocess to something large (200x100). It's possible readline on your system was assuming something smaller than the normal default (80x25) and so that may have been causing control characters to be added to the stream. I doubt it will fix it, but fingers crossed :-)

[2015-03-18 19:51] vi commented on #36
Tried again. It fails with different output:

[code]

[2015-03-18 20:50] kanaka commented on #36
Okay, let's look a little closer at what is happening for the output from the first line and split at newlines/carriage returns:
[code]

And now the longer one (with the regular alphanumeric section shortened to just ZZZ):
[code]

So here is what it looks like is happening to me: when your readline is reading from stdin and it comes to a certain character sequences (in this case "()", "[]", and "{

[2015-03-18 20:58] kanaka commented on #36
@vi I had an idea, can you use the script command in the same terminal and then paste this string into it?

[code]
That should give you file called `recording.txt` that has exactly what was output to your terminal (including control codes an everything). Then you can do `hexdump -C recording.txt` to see/post the literal output here.

[2015-03-18 21:37] vi commented on #36
[code]

[2015-03-18 21:48] vi commented on #36
Maybe it's because of `set blink-matching-paren on` in `/etc/inputrc`?

[2015-03-19 05:01] kanaka commented on #36
Aha! Well, that's certainly part of it. I added that to ~/.inputrc and was able to replicate that same behavior running the rust step0 tests. I've pushed a change to make runtest.py ignore inputrc (setting INPUTRC to /dev/null). And doing that made it work for me even with the setting in ~/.inputrc.

Let me know how that goes.

[2015-03-19 07:24] vi commented on #36
Now testing Perl and Rust works.
(Perl fails in stepA for unrelated problems).

[2015-03-19 12:53] kanaka commented on #36
@vi yep, stepA contains two optional sections. One is optional but needed for self-hosting. The other is just extras. I'm going to go ahead and resolve this since the main failures seem to have been addressed.

[2015-03-19 12:54] #36 closed

[2015-03-19 12:56] kanaka commented on #30
@moniya mind testing again with upstream changes to runtest? There is a chance some recent changes may have fixed this. Thanks.

[2015-03-19 15:52] kanaka commented on #40
Just pushed a fix that should resolve this. @tbu- can you confirm that it works for you?

[2015-03-19 15:52] #40 closed

[2015-03-19 17:48] moniya commented on #30
@kanaka The issue still occurs, but much less frequently (like 1 in 20 tries), and the number of failing test cases are fewer too, just 1 or 2 failures.

[2015-03-19 17:58] moniya commented on #30
Umm... It's kinda frequent now, but failing cases just 1 or 2.

[2015-03-19 18:22] kanaka commented on #30
So it was infrequent and then suddenly became more frequent? Anything change in the meantime?

Are you still seeing this with the racket and php implementations only? Does it tend to be the same test cases that fail when it does fail?

[2015-03-19 18:55] moniya commented on #30
I think the failures got less frequent because I just  got power on my laptop (MBA 1.7 GHz) and things got a little faster (power supply is often unavailable where I live).

Yes the Racket and PHP implementations only.

Each case fails or passes randomly. I illustrated the nature of the failures in an earlier comment. https://github.com/kanaka/mal/issues/30#issuecomment-77613485

[2015-03-19 19:01] moniya commented on #30
I'm experiencing a memory-related issue running the Racket implementation in Ubuntu 14.1 on Virtual Box. Should I start another issue or post it here?

[2015-03-19 19:13] kanaka commented on #30
Another issue. Is it perhaps leaving orphan processes around (not cleaning them up properly)?

[2015-03-19 19:38] moniya commented on #30
O well... That memory issue has stopped happening after yet another restart.

Maybe you can ignore that.
I swear I'm not doing anything crazy with computer. :)

[2015-03-19 19:40] moniya commented on #30
P.S: These issues are not in any way hindering my progress on the project. I just deem it useful to bring them to your notice.

[2015-03-19 20:53] keith-rollin commented on #30
FWIW, I also see the error that moniya reports where the input text is duplicated once every 20 tests or so. The issue is random. Running the same test over and over will result in the condition occurring on different test cases. Occasionally, the test runs with no errors.

This is on Mac OS X 10.10.2 with the Swift implementation I'm working on. I'm building against mal b020aa3. I've not done any

[2015-03-20 13:45] kanaka commented on #30
@keith-rollin @moniya I've pushed a hack which I think should workaround this issue. I now check for the expected output and I also check for the case where the input form is echo'd twice in the output. I'm going to close the issue because I'm pretty confident it will work around it, but can you two confirm that it has resolved it for you? If not, I'll re-open it.

[2015-03-20 15:15] moniya commented on #30
It worked. Well done. 👍

[2015-03-20 18:13] kanaka commented on #30
@moniya yay!

[2015-03-20 22:27] tbu- commented on #40
Works for me, immediately errors out. Thanks for the fix.

[2015-03-28 08:05] MartinJohns opened #51 "Tests do not work under Windows"
I'm trying to run the unit tests for step 0 under Windows, using cygwin. But there seems to be an issue with the line endings. I'm doing what is described in step 0 - I write the prompt, read the input, write the input out and repeat.

Here's the output of the test call:

[code]

Got any idea on how to solve this?

[2015-03-30 17:45] kanaka commented on #51
@MartinJohns I can't easily test this, but can you try the following hack to see if it makes things work for you?

[code]

[2015-03-31 10:31] NalaGinrut opened #53 "TCO test in Guile-2.1+ implementation"
I've encountered a happy trouble when I'm writing step5 in GNU Guile.
I think most of the languages will crash when calling (sum-to 10000) in non-tail-call way. But in Guile-2.1+, it's not true. It's because Guile-2.1+ has auto-grow-stack feature. So if the stack is out, there'll be new allocated stack, depends on your physical memory.
So I can get 50005000 after calling (sum-to 10000), which mean

[2015-03-31 13:55] NalaGinrut commented on #53
Alright, seems it's better to exclude step5 test.

[2015-03-31 13:55] #53 closed

[2015-03-31 15:45] kanaka commented on #53
@NalaGinrut yeah, I need a better solution for that. But for now, once you've gotten all other parts of the test to pass, you can just exclude the test in the toplevel Makefile.

[2015-03-31 16:28] NalaGinrut commented on #53
@kanaka It's OK now. Guile has a solution to specify the stack size of a closure, named call-with-stack-overflow-handler. I set stack to a very small size to ensure it crash finally. Now I don't have to exclude step5. ;-)

[2015-03-31 17:10] kanaka commented on #51
@MartinJohns had a chance to test the above change?

[2015-03-31 23:36] epylar commented on #51
@kanaka This patch (off master) works on Cygwin 64 (and probably 32, but I
didn't check); however, due to the nature of the change, I'd recommend you
test it on non-Cygwin.  This is for make test^python^step0 -- confirmed
that without the change, the test fails; with the change, it passes.

diff --git a/runtest.py b/runtest.py
index 436b769..932dd82 100755
--- a/runtest.py
+++ b/runtest.py
@@ -12,

[2015-04-01 14:00] martinklepsch opened #54 "Consider moving reader macro tests to their respective steps"
Currently quoting, metadata and similar things are tested in the step 1 tests.

As a user *(lol)* I expected that all tests will pass if I completed all tasks in step 1.

[2015-04-03 20:07] NalaGinrut commented on #36
The problem seems appear again. Please try "make test^guile^step0" in my pull request.

[2015-04-03 23:19] kanaka commented on #36
@NalaGinrut this is because the guile wrapper around GNU readline adds a custom paren bouncing feature. See "init_bouncing_parens" in guile-readline/readline.c in the guile sources.

Here is a diff that passes all tests and works with readline enabled:

[code]

However, I do notice that readline history isn't hooked up right. It's adding the result of the expression to the history (rather that the

[2015-04-06 18:11] lispm opened #58 "TCO test not general enough"
step5_tco.mal

TCO means 'Tail Call Optimization'. Not 'tail recursion'. TCO means that ALL tail calls are optimized, not only calls to a recursive function.

The test only tests the simple case of a self-recursive tail call. A test for the more general cases of TCO is missing.

[code]

[2015-04-08 16:31] kanaka commented on #54
So, I realized this morning why this won't work. Step 1 is unique from the following steps because it doesn't yet have eval. So it's the only place you can test reader/printer functionality directly.

[code]

So, while it's not ideal, I think having these tests in step1 and marked as optional/deferrable is probably the best option without adding significant complication in the test runner or in th

[2015-04-08 16:31] #54 closed

[2015-04-09 11:05] martinklepsch commented on #54
Alright, that makes sense.

[2015-04-27 07:54] Immortalin opened #67 "Use Go default build tools instead of make"
Hi, can you use Go's [default build tool](https://blog.golang.org/generate) instead of make?

[2015-04-27 08:13] Immortalin opened #68 "Mal Fails to Compile on Windows 64 bit, Go 1.4.2"
`# readline
src\readline\readline.go:12:31: fatal error: readline/readline.h: No such file or directory
 #include <readline/readline.h>
                               ^
compilation terminated.
make: *** [step0_repl] Error 2`

[2015-04-28 20:11] kanaka commented on #67
I'd love to. Want to tackle it and send me a pull?

[2015-04-28 20:20] kanaka commented on #68
You'll probably either need [readline for windows](http://gnuwin32.sourceforge.net/packages/readline.htm) or make readline linking optional.

[2015-09-16 07:13] i336 opened #86 "JavaScript online demo <title>"
Page title is currently misspelt.

[2015-09-16 14:50] kanaka commented on #86
Thanks. Fixed.

[2015-09-16 14:50] #86 closed

[2015-10-04 08:27] macdavid313 opened #89 "Regexp problem"
[code]
The regular expression provided in the guide is really impressive, however, when the input string is `"123`, it will filter out the first double quote. So how can we detect the unmatched `"` then?

I found several implementations, which is using regular expressions to do lexical analysis, have this problem, including C, Go and OCaml.

[code]

[2015-10-05 15:13] kanaka commented on #89
Okay, I think adding a question mark to the final double-quote should do the trick. Then the string check in read_atom needs raise an exception if the first character is a double-quote but the last is not. I think that will work as long as the language regex engine is properly greedy.

[code]

Sound reasonable? I probably won't be able to get to this for a while. Feel free to send me a PR if you f

[2015-10-05 17:55] macdavid313 commented on #89
Yeah, using that new one works, at least for Common Lisp. I believe all perl regexp compatible library should just work.

[2015-10-07 16:28] PhilipCollison opened #90 "runtest.py needs the ability to test expected failures"
I am currently implementing mal in D and I've almost reached the end of step 1.

At the moment the only types I've implemented are symbols, lists, and vectors, but despite this I am passing the "string error" test for step 1.
## Actual ./mal Output:

## Observed Test Output:

This issue is related to https://github.com/kanaka/mal/issues/89.

[2015-10-08 18:48] kanaka commented on #90
Yep, runtest.py doesn't yet have a way to test for expected failures. So those tests are there but not actually doing anything except verifying that the implementation keeps going. It shouldn't be too hard to implement this, but it does mean that the error messages printed by the various implementations will need to be common enough to have some sort of regex match to verify that they did in fact

[2015-10-20 19:40] dubek commented on #19
Few small comments on `docs/step_notes.txt`:

`cp step6_file.EXT to step6_quote.EXT` should be to `step7_quote.EXT`

`cp step8_macros.EXT to stepA_try.EXT` should be to `step9_try.EXT`

In several places you have `make test^go^stepN` - change to `make  test^EXT^stepN`. Under step9 you mention to run `test^go^stepA` - should be `step9`.

Under step9 you mention "now self-hosting, run `stepA_try`".

[2015-10-25 16:32] kanaka opened #94 "Move non-TCO step5 tests to implementation specific directories"
About half the implementations do not fail the non-TCO test case: some crash, some pass due to the language already having automatic TCO or automatic stack growth. It would still be useful to test the TCO case. The non-TCO case should be moved to implementation specific directories and made specific to that implementation. For the few implementations that crash on stackoverflow, there would be no

[2015-10-27 20:37] kanaka commented on #58
#97 resolves this.

[2015-10-27 20:37] #58 closed

[2015-10-29 23:53] mrjbq7 opened #99 ".gitignore */mal?"
Is there a reason you ``.gitignore`` the ``*/mal`` path?

It makes it hard to add files under ``factor/mal`` without using ``git add -f``...

[2015-10-30 14:32] #99 closed

[2015-10-30 14:33] kanaka commented on #99
Some of the implementations also build the final executable as a file named mal. Unfortunately there is no way I know files by a name but not directories with that name. I've removed that and added the specific implementations that use that.

[2015-10-30 15:10] mrjbq7 commented on #99
Okay, thanks. I could have also fixed by making vocabularies named `mal-core` instead, I suppose.  If that makes it easier for you I can do that change.

[2015-10-30 16:22] kanaka commented on #99
Nah, don't worry about it. */mal was too broad. But was added back when there was less than half as many implementations.

[2015-10-30 16:41] mrjbq7 commented on #99
I always thought binaries should be named after their stages, so final one would be ``stepA_mal``...

[2015-10-30 17:30] kanaka commented on #99
Yes, that's true, but another thing that some implementation do in their Makefile is create a standalone mal program. For compiled languages, this usually just involves copying stepA_mal to mal. For the non-compiled languages, the intention is that all the dependent sources are copied (and lightly mangled as necessary to live in one file) into mal.EXT. For example, if you build mal.sh in the bash

[2015-10-30 23:27] mrjbq7 commented on #99
It would be a nice idea for Factor to have ``mal/mal.factor`` be the "final/full" implementation.  Then we could ``"mal" deploy`` and get a nice binary.

If you don't mind me asking, how would you suggest I do this?  Manually copy of the code from ``stepA_mal.factor`` (or vice versa)?  Make it a part of a ``make`` step?

Thanks,

[2015-11-01 02:48] kanaka commented on #99
I would say create a make rule that compiles/deploys each of the steps. Then an additional rule would copy the compiled/deployed stepA_mal to mal/mal or something like that. There are quite a few examples of similar sorts of things in various implementations. For example, haskell/Makefile might be a good starting point.

[2015-11-01 02:58] kanaka opened #100 "Fix string escaping/unescaping in Erlang implementation"
@nlfiedler I recently added some tests that do better coverage of string escaping and unescaping. In particular, this allows ANSI escape codes to be used in output to support. For example, being able to run the mal/clojurewest2014.mal presentation correctly.

I was able to fix the escaping/unescaping for all the other languages, but I'm not familiar enough with Erlang to be able to fix it easily.

[2015-11-01 03:07] kanaka commented on #100
BTW, here is the line in the travis test output where the failures start: https://travis-ci.org/kanaka/mal/jobs/88477516#L440

[2015-11-02 04:12] nlfiedler commented on #100
Certainly, I'll take a look this week.

[2015-11-02 19:43] gilch commented on #51
The `"\n\r\n"` doesn't seem right. Git for Windows will automatically convert line endings to `"\r\n"`, so the `.mal` test files themselves will change when cloned on a Windows machine. If the test runner is assuming these files always have the Unix-style `"\n"` endings, that could explain the problem.

I tried manually changing the `tests/step0_repl.mal` file to Unix line endings and then the `ma

[2015-11-02 21:02] gilch commented on #51
The unrelated reason seems to be that Python for Windows doesn't include the `readline` module, but the Python MAL implementation requires it. An example without this dependency could be illuminating.

This one-liner **will pass** the step0 test using Cygwin's `python`, given a Unix-terminated test file. (It does not require `readline`.)
[code]
This still does not work when using Python for Window

[2015-11-06 20:31] #100 closed

[2015-11-07 01:19] gilch opened #103 "Quasiquotes appear to be broken."
Here's a simplified example in Common Lisp of what I'm trying to do.
[code]
The equivalent in mal:
[code]
The first case gets the wrong value at the wrong time. And the second case just fails altogether. Nested quasiquotes are not unusual in macros, but I can't seem to make them work in mal. Is there a different syntax for this I'm not seeing?

I've tested this in the python implementation, but si

[2015-11-07 04:48] kanaka commented on #103
@gilch I'm not too surprised that nested quasiquote is broken. For the most part, mal syntax/features are based on Clojure, so this site is probably a good reference: https://blog.8thlight.com/colin-jones/2012/05/22/quoting-without-confusion.html

From that page, here is a simpler issue with nested quasiquote

[code]

If you want to take a stab at figuring out the issue with the current quasiquote

[2015-11-10 02:04] hborders opened #105 "Objective-C with xcodebuild doesn't integrate with top-level Makefile"
Root `Makefile` Diff:
[code]

`objc/Makefile`:
[code]

I get the following output from `make test^objc^step0`
[code]

If I built with Xcode (which creates the same binary as `make` would), I then get the following output from `make test^objc^step0`
[code]

I'm not blocked because I can build from Xcode and then run the tests from `make`, but I won't be able to issue a pull request until I can buil

[2015-11-10 15:04] dubek opened #107 "Missing regression testing"
During the development of the Tcl implementation I found it important in some steps to verify that I haven't broken something that was working OK earlier. In my case, while implementing TCO in step 5 I broke `let*` by mistake, but no tests covered it. However, running the `tests/step4_if_fn_do.mal` test file against my `step5_tco.tcl` program quickly showed that `let*` is broken.

I wrote a small

[2015-11-12 17:08] dubek opened #112 "Pure mal equal implementation"
After implementing a few of those hash-equality fixes, I have an idea: how about we implement `scalar-equal?` with a native implementation, and implement the generic `=` in mal itself (like we implement `not`). The mal implementation will use `sequential?`, `hash_map?`, `contains?`, `get`, `first`, `rest` (and `scalar-equal?`)  to recursively check whether the two data structures are equal.

Of co

[2015-11-12 23:21] kanaka commented on #112
That's a good idea and I did actually consider that. Since mal is primarily a learning tool, a strong goal of mine is to keep both the mal implementation of mal, and the other implementations of mal small. Obviously these two goals are in tension because there is actually a lot of other functionality that could actually be implemented in mal itself rather than the underlying language (for example,

[2015-11-13 18:26] sleep opened #113 "Testing commands fail in zsh"
Love this project, finding it super pedagogical!

The guide mentions the shell command

`make test^quux^stepX`

to run tests.

This works fine in bash. It does not work in zsh, however. After an entire night and morning of thinking it was something wrong in my implementation code that prevented me from running the tests, I found out that zsh treats unquoted carets as globbing characters.

Perhaps

[2015-11-13 20:36] kanaka commented on #113
@sleep really sorry for the amount of time you spent figuring it out :-( although I'm glad you figured it out. I'm fine with either a note in the guide before the first test example or with quoting all the calls if that seems better. Would you like to send a PR with this change?

[2015-11-18 20:56] kanaka commented on #112
I'm closing this since the pure mal version is now in the examples directory. Thanks @dubek!

[2015-11-18 20:56] #112 closed

[2015-11-18 21:01] kanaka opened #116 "Implement native hash-map compare across all implementations"
This is to track the remaining implementations that need native hash-map equality.

Here is current list of implementations which still need it native hash-map:
- [x] forth
- [x] guile
- [x] kotlin
- [x] matlab
- [x] miniMAL
- [x] ocaml
- [x] perl
- [x] r
- [x] racket
- [x] vb

@dubek, since we both seem to be working through them, let's claim them when we start working on them so that we don't du

[2015-11-18 22:33] #105 closed

[2015-11-18 22:34] kanaka commented on #105
Okay, I think I found and fixed the problem. Let me know if that addresses it for you.

[2015-11-19 01:08] dubek commented on #116
I'm out of town till next week so ain't gonna advance in the need few days.
Leave some for me!
On Nov 18, 2015 16:38, "Joel Martin" <notifications@github.com> wrote:

[2015-11-21 13:21] dubek commented on #116
I'm claiming ocaml, and afterwards I'll try racket.

[2015-11-22 04:04] dubek commented on #116
ocaml fix in #118

[2015-11-22 05:07] dubek commented on #116
racket fix in #119 .

While coding this, I noticed another problem with implementations that rely on "native" `=` or `equal?` operator - they fail when you have nested vector/list comparisons. For example, in Racket, before the fix:

[code]

The first one is good (and tested in tests of step4); the second one is incorrect (and now fixed in #119 ).

So besides broken hash-map equality we also have

[2015-11-23 20:02] dubek commented on #103
I modified the Ruby impl to include quasiquoting nesting level. Here's the modified `quasiquote` function code:

[code]

Here it is in action:

[code]

I'm not sure this is the algorithm you had in mind, and maybe I missed some cases.

[2015-11-28 18:43] kanaka commented on #116
It should eventually be with the other vector/list tests, but to avoid breaking Travis until they are fixed, let's make it soft for now until we have most fixed.

[2015-11-30 18:55] kanaka opened #123 "Fix nested equality tests and then make them mandatory"
The following implementations fail the soft tests for nested equality. Sequence nested tests in step4 and hash-map nested steps in step9:

- [x] bash (hash-map in hash-map)
- [x] elixir (seq in seq)
- [x] erlang (seq in seq)
- [x] factor (seq in seq)
- [x] forth (no native hash-map equality, see #116)
- [x] guile
- [x] haskell (seq in hash-map)
- [x] julia
- [x] kotlin (no native hash-map equality

[2015-11-30 18:57] kanaka commented on #116
The embedded sequence implementations is tracked here: https://github.com/kanaka/mal/issues/123

[2015-11-30 19:06] kanaka commented on #116
Just pushed a fix for R.

[2015-11-30 20:04] dubek commented on #116
Guile fix in #124.

[2015-11-30 20:04] dubek commented on #123
Guile fix in #124.

[2015-11-30 20:11] kanaka commented on #116
matlab pushed.

[2015-12-02 16:56] kanaka commented on #123
I'll work on julia

[2015-12-02 17:17] kanaka commented on #123
I'll take scala too.

[2015-12-02 17:19] kanaka commented on #123
Okay, julia and scala fixes pushed. Also, I added some nested hash-map tests in addition to the nested sequences tests.

[2015-12-02 17:51] kanaka commented on #123
I updated the list with all the implementation that fail the new nested equality tests (including forth and kotlin which are missing hash-map equality entirely).

[2015-12-02 18:40] kanaka commented on #103
It's doesn't quite have the same behavior as some of the examples at the 8thlight link, for example:

[code]
However, quasiquote has never been quite the same as Clojure so these might be reasonable differences. However, the change does seem to be an overall improvement. Let's use the process we are using for native equality and add soft tests for these, and then begin checking off the list of imp

[2015-12-02 19:56] kanaka commented on #103
Also, it would be good to update process/guide.md and process/step{7,8,9,A}* with the changes.

[2015-12-03 06:16] keith-rollin commented on #103
@kanaka, I've updated the Swift implementation along the lines of the Ruby change @gilch made, and it passes all current tests (native and self-hosted) and the new examples shown above under "Here it is in action". Please let me know if you'd like a PR, or if you'd like more time to be sure that that's the approach you want to take.

[2015-12-03 13:50] dubek commented on #103
@kanaka I think that before rushing to fix all impls, we should come up with all the test cases (and expected results) we want to cover, and decide if the algorithm presented in the Ruby code example is the correct one. Also cover a few error cases (`unquote` with a surrounding `quasiquote`?). Maybe we should modify quasiquote/unquote behaviour to imitate Clojure quoting rules here (so we can refe

[2015-12-03 19:12] kanaka commented on #103
@dubek yes, you're right. Spending a bit more time is prudent. I think there are probably multiple "right" paths in some sense. I do want to avoid making quasiquote significantly more complicated. If we can make it behave basically like Clojure (apart from the namespace expansion) without adding too much more complexity, that would definitely be the preferred path. I would probably lean towards th

[2015-12-03 22:20] kanaka commented on #123
Fix bash and PHP in: https://github.com/kanaka/mal/commit/33d33bb31bc3015548a3ad0d00fc33daf1cf827a (silly bugs really)

[2015-12-03 22:29] kanaka commented on #123
Haskell was an easy fix too.

[2015-12-04 15:14] dubek opened #126 "gensym"
(Following discussion in #103)

Here's a pure mal `gensym` implementation, and an implementation of the `or` macro (called `or2` below) with `gensym`:

[code]

Output:

[code]

It relies on `atom`, so cannot be used in step 8 where we test the `or` and `and` macros (`atom` is added in step A).

Do you prefer a native impl in step 8, with all the quote special operators?

[2015-12-04 15:38] dubek commented on #126
And here's a `with-gensyms` macro (adapted from Practical Common Lisp http://gigamonkeys.com/book/macros-defining-your-own.html):

[code]

So if we need 3 temporary variables in a macro, we can use:

[code]

[2015-12-04 16:22] kanaka commented on #126
Okay, a few options:

1. make it a native function. This would be pretty simple in most languages.

2. Move atoms and atom tests from stepA to step8.

3. Use a simpler but less efficient version of the or macro in step8 and step9, define gensym in stepA and rewrite or macro to use it.

I think #1 would be pretty simple in most languages (except languages like Haskell where you basically don't have

[2015-12-04 16:58] dubek commented on #126
I'm good with option 3.

Just to clarify:

1. In step8, the guide says: use "rep" in the main program to define the two macros `cond` and `or`. So at this point we should modify the macros to use the simpler/inefficient version you mention above (fix the guide, and slowly fix all existing impls - in step8 and step9).
2. In stepA - add `rep("defmacro! gensym .....")` etc and fix the existing `or` m

[2015-12-07 17:54] kanaka commented on #126
So I wrote up some notes (included below), but in thinking through it some more, I think I'm actually reconsidering the options :-( The use of gensym is specifically related to macros. So thinking more about it, I think I do want to keep it with step8.

Option 1 remains my least favorite (due to requiring a new type implementation), but I think something more like option 2 is now my preference. Si

[2015-12-08 02:58] dubek commented on #126
I tried the atom tests on Ruby step 6 impl. It works except:
1. `quote` in the last test - we need to change `'(1 2 3)` to `(list 1 2 3)`
2. tests with `assoc`/`dissoc` will not be possible because these are added in step9 (right now they pass but it's because I see the final `core.rb` which has `assoc` and `dissoc`).

I think your idea (moving atoms to step 6) is OK. I wonder if we lose anything

[2015-12-09 21:28] kanaka commented on #30
The ^ issue should be fixed by #128

[2015-12-09 21:29] #113 closed

[2015-12-09 21:51] kanaka commented on #126
Sorry for the slow reply.

Yep, the tests labelled ";; Testing hash-map evaluation and atoms (i.e. an env)" will need to go no earlier than step9 since that's where we add hash-map functions.

I'm not too concerned about having atoms earlier in the process. It will actually give an earlier opportunity to emphasize the importance of immutability in the guide and describe atoms as the escape hatch w

[2015-12-10 03:42] dubek commented on #126
I'll take it, though it'll take me a few days as well.

BTW, regarding immutability (just making sure I understand the ideas correctly): we do have `def!` which mutates local state/binding. It is not "write-once" - you can `(def! x 7)` and later `(def! x 8)`. But `def!` cannot be used inside a function to modify a binding in an *outer* env (such as the global `*gensym-counter*` I declared at the t

[2015-12-10 05:03] kanaka commented on #126
@dubek yes, that's true that there are two different forms of mutable state supported by mal: environments (modified by def!), and atoms (modified by reset! and swap!). One place where mal diverges a bit from Clojure (and other Lisps for that matter) is that I wanted all types of mutating functions to be clearly identified with a "!" suffix. In Clojure for example, def* forms mutate the current na

[2015-12-15 15:03] dubek opened #135 "Python: String comparsing fails when a unicode string is involved"
(Discovered while working on #134)

Here it is with some debug prints I added (running python 2.6.6):

[code]

Somehow the `str` call creates a unicode string (probably due to the special char which is used to mark mal keywords). This fails in `_equal_Q` because the types are not identical.

Not sure what's the appropriate way in Python to convert str to unicode. Also I thought that unicode is onl

[2015-12-15 23:27] kanaka commented on #135
Just did a quick hack and don't have time to commit yet, but I think this works for both python 2 and 3:

[code]

[2015-12-17 15:19] #135 closed

[2015-12-18 23:25] #107 closed

[2015-12-18 23:26] kanaka commented on #107
I've added the functionality to the Makefile. Just set REGRESS=1. Like this:

[code]

[2015-12-18 23:27] kanaka commented on #30
I think all the problems reflected in this issue have been resolved so I'm closing it.

[2015-12-18 23:27] #30 closed

[2015-12-19 19:29] dubek commented on #107
Awesome.

Can you mention it in README and process guide?

In process, maybe add at the end of each step:

[code]

[2016-01-05 20:31] dubek commented on #107
There's a small bug with `REGRESS=1` -- the make command doesn't fail if an earlier step tests fail. For example:

[code]

[2016-01-13 05:46] ivern commented on #116
@kanaka want me to fix the Kotlin implementation?

[2016-01-13 14:38] dubek commented on #126
Now that #130 is done and merged, we have atoms implemented in step 6. This means we can introduce `gensym` at step 8 (with macros) or later as an improvement for the `or` macro implementation (for example in step A, which is now smaller because we removed atoms from there).

So my suggestion would be in step A, add something like this to the process guide (+ tests that show the problem with the o

[2016-01-13 17:27] kanaka commented on #116
@ivern that would be great.

[2016-01-19 18:21] kanaka commented on #126
Sorry, meant to reply earlier and it slipped my mind. I was thinking just doing the correct implementation of these in step8. However, I like the way you presented it and I think pointing out the bug and fixing it provides a good learning opportunity for stepA so let's go with your suggestion. Want to cook up a PR?

[2016-01-20 17:53] dubek opened #142 "If macro expands to symbol it doesn't go through another EVAL"
The behaviour I encounter is a bit strange, but maybe I'm missing something (not sure my issue description is correct).

Here is the problematic scenario:

[code]
I expected `123` as the result here.

Or with a simpler macro:

[code]
I expected an exception `'a' not found`.

Note that if the macro expands to a list, then things seem OK:

[code]

I see the same behaviour in Clojure, Ruby, Python im

[2016-01-20 21:31] kanaka commented on #142
Good catch! That's definitely a bug. I've pushed a soft test for step8 to get travis to do the coverage to determine which ones are broken:: https://travis-ci.org/kanaka/mal/builds/103705447

Not all of them are broken, for example awk and haskell and correct. The problem is that in EVAL after the call to macroexpand, we should call eval_ast if the macro result is not a list rather than just retur

[2016-01-20 21:42] dubek commented on #142
I assume the following paragraph in `guide.md` should be corrected:

[code]

And the process/*.txt files:

[code]

[2016-01-20 21:49] kanaka commented on #142
Yep, exactly.

[2016-01-22 04:15] ivern commented on #142
I'm not sure why kotlin is marked as having a fix.  The test is soft failing on my end.  I'll have a fix shortly.

[2016-01-22 15:53] kanaka commented on #142
@ivern yep, the mal-in-mal implementation is one of the ones that needs fixing.

[2016-01-22 16:59] ivern commented on #116
I've fixed my pull request to contain a single commit.

[2016-01-23 02:35] ivern commented on #123
Kotlin should be updated to fixed now that it's merged.

[2016-01-23 02:35] ivern commented on #116
Kotlin should be updated to fixed now that it's merged.

[2016-01-24 00:56] ktodyruik opened #147 "Question: Writing some macros for familiar lisp expressions"
Hi,

I'd like to define some familiar lisp expressions in MAL. Lisp style defun, defmacro and creating aliases of functions/macros.

How would you write macros for lisp style defun and defmacro?

Also, I was wondering how you would write defalias in MAL.

Thanks,
Kerry

[2016-01-24 20:39] ktodyruik opened #148 "Improving load-file to provide more feedback on errors"
I've been running the javascript MAL interpreter. I was wondering if anybody has written any alternative load-file functions that provide more feedback on errors.

[2016-01-24 21:01] ktodyruik opened #149 "Extending language using the host language"
I'm using the javascript interpreter. What would be the best way to extend the interpreter by writing a new function in the host language (without modifying the original interpreter code)?

[2016-01-25 01:53] ktodyruik opened #150 "Javascript js* form doesn't evaluate parameter in the interpreter before calling javascript eval()"
I just noticed that js* in the javascript implementation of MAL doesn't evaluate the parameter. It appears to only take string constants.

[code]

What if we wanted to write something like:

[code]

This code calls javascript eval on this:
[code]

[2016-01-25 17:08] kanaka commented on #147
You can create an alias just by doing:

[code]

However, note that this creates an "alias" to the value of old-name, and not to the old-name reference itself. In other words, after you create new-name, if you change what old-name points to, new-name will still point to the original value. And yes, both function and macros in mal are values (unlike many lisps where only functions are first class va

[2016-01-25 17:08] #147 closed

[2016-01-25 17:11] kanaka commented on #148
What sort of feedback are you looking for? In most implementation you should be able to do something like the following:

[code]

That allows you to catch the string exception message and do what you want with it.

[2016-01-25 17:11] kanaka commented on #149
Can you give a more concrete example of what you are trying to do?

[2016-01-25 17:16] kanaka commented on #150
Yes, you're right, that's a bug. The way that JavaScript interop works needs to be fixed up (it should work more like miniMAL). I'll see if I can get to that this week (no promises though).

[2016-01-25 17:28] ktodyruik commented on #149
Sure. I noticed in some interpreters like biwa scheme, if you wanted to add a new function written in javascript, you would call something like this:
http://www.biwascheme.org./doc/internal/js_api.html

I was just wondering what would be the best way of adding my own native function to mal if I were to write one. Say, for example, I wrote
var alert = function(msg) {
   alert(msg);
};

What's the m

[2016-01-25 17:32] ktodyruik opened #151 "Javascript interop: dot form"
I noticed the dot form in the online repl docs. I was looking at the source but I'm not sure how it works. Does it work on the web version? Could you provide an example?
Thanks

[2016-01-25 17:41] ktodyruik opened #152 "Javascript interop"
I was wondering what options are available for javascript (browser) interop in mal. Could you provide some examples of function execution and object property access?

Thanks!

[2016-01-25 17:46] ktodyruik commented on #148
Thanks for the reply. Honestly, when I wrote that question was just trying out mal for the first time and struggling a little. I misunderstood what I think was the browser caching my source for the interpreter swallowing the exception. I saw later that that was not the case. Thanks for the try catch example. I'll give that a try. :)

[2016-01-25 18:50] #148 closed

[2016-01-25 18:54] kanaka commented on #152
I changed the title slight to make this a more general bug. JS interop is completely broken at the moment. I'll hopefully be able to fix it this week and give some examples. I'm going to close #149 #150 and #151 since this encapsulates all of it.

[2016-01-25 18:54] kanaka commented on #149
Tracking JS interop fixes in #152

[2016-01-25 18:54] #149 closed

[2016-01-25 18:54] kanaka commented on #150
Tracking JS interop fixes in #152

[2016-01-25 18:54] #150 closed

[2016-01-25 18:55] kanaka commented on #151
Tracking JS interop fixes in #152

[2016-01-25 18:55] #151 closed

[2016-01-26 14:42] kanaka commented on #142
I updated the list to reflect what's been done rather than what's been merged.

[2016-01-26 14:48] dubek commented on #126
`gensym` and the clean `or` macro are now available in all implementations, with updates to process files and guide (see #143).

[2016-01-26 14:48] #126 closed

[2016-01-26 16:48] kanaka commented on #116
I merged before the travis was finish with the PR, and unfortunately, travis doesn't pull the right thing so tests start to fail after the merge. So I'll wait for the travis builds for the merge itself to finish and verify and then close this if everything checks out.

[2016-01-26 18:47] kanaka commented on #116
Looks good. Closing.

[2016-01-26 18:47] #116 closed

[2016-01-26 20:20] kanaka commented on #142
I just merged the PR and pushed updates for the remaining ones. I also made the test mandatory. I'll close this once travis checks out: https://travis-ci.org/kanaka/mal/builds/104991412

[2016-01-26 20:27] dubek commented on #142
Before you close it, the `process/step{8,9,A}_*.txt` and `process/guide.md` should be fixed as discussed above in this issue.

[2016-01-26 21:05] kanaka commented on #142
Yep, thanks for the reminder.

[2016-01-26 21:33] kanaka commented on #142
Okay, travis passed and I pushed those minor updates.

[2016-01-26 21:33] #142 closed

[2016-01-27 15:59] kanaka commented on #123
@jordanlewis @nlfiedler @ekmartin factor, erlang, and elixir and the only languages that still need this fix. Could you look at your respective implementation and fix the equality test when a sequence is embedded in another sequence? In other words, make these forms return true?

[code]

Thanks!

[2016-01-27 16:39] jordanlewis commented on #123
Sure I will take a look at this.

[2016-01-27 19:12] ekmartin commented on #123
Sure, I'll take a look.

[2016-01-27 21:53] gilch commented on #103
I'm not sure if Clojure's behavior is the best target then. Besides the mentioned namespace expansion of symbols Clojure can also syntax-quote vectors, maps, and sets, which MAL doesn't have either. Once you take all that away, the behavior is probably more like Scheme or Common Lisp. There are implementations of these lisps with licenses even more permissive than Clojure's EPL ([CMUCL](https://en

[2016-01-28 04:14] gilch commented on #103
I found a fairly simple-looking scheme quasiquote implementation in [this paper](http://repository.readscheme.org/ftp/papers/pepm99/bawden.pdf), which the author asserts is correct. It shouldn't be too difficult to port it to mal.

[2016-01-28 05:51] gilch commented on #103
Chicken Scheme's [quasiquote test cases.](https://github.com/sergi/chicken-core/blob/39b1a129cddb4f39279b39396556112a444d3267/tests/syntax-tests.scm#L932)

[2016-02-01 17:15] kanaka commented on #123
Just factor left now.

[2016-02-01 21:04] kanaka commented on #123
@jordanlewis don't worry about factor since @dubek just fixed it.

[2016-02-01 21:09] kanaka commented on #123
Final thing is making the tests not soft tests. I just pushed that and will close this once travis gives the green light: https://travis-ci.org/kanaka/mal/builds/106320895

[2016-02-01 21:11] jordanlewis commented on #123
Thanks @dubek!

[2016-02-01 21:45] kanaka commented on #123
All green. Closing.

[2016-02-01 21:45] #123 closed

[2016-02-08 23:58] ktodyruik opened #165 "Pretty printing"
Hi,

I just wrote some code in MAL and got back a pretty long s-expression. Has anybody looked at pretty printing in MAL? Would it be difficult to write a pprint function in MAL?

Kerry

[2016-02-09 16:48] kanaka commented on #165
I'm not sure what you mean by "got back a pretty long s-expression". I haven't personally looked at pretty printing in mal. However, I don't think it should be too difficult. You can probably base it on another Lisp pretty printer. I think the main challenge you may run into is that mal currently is very limited in terms of string functions. So for example (count str) works in some implementations

[2016-02-09 17:52] kanaka opened #166 "Add string manipulation capability"
Right now there is no cross-implementation way to manipulate (index, slice, etc).

In Clojure, strings are treated as sequences of characters and so sequence functions operate on them. However, as a simple initial (or maybe final) step, simply adding a *seq* function that turns a string into a list of single character strings would allow manipulation using normal sequence functions (*str* will alr

[2016-02-09 22:47] ktodyruik commented on #165
Any suggestions on places to start looking at existing pprint implementations?

[2016-02-10 22:23] kanaka commented on #165
@ktodyruik I added an example pprint that support lists, vectors, and maps and scalar types: https://github.com/kanaka/mal/blob/master/examples/pprint.mal If you want to support functions, atoms, etc you'll need to add that yourself but the example should help you get going.

[2016-02-10 22:23] #165 closed

[2016-02-10 22:31] ktodyruik commented on #165
@kanaka Thanks!

[2016-02-10 23:29] ktodyruik commented on #165
@kanaka I tried running your example. Where is 'seq' implemented?

[2016-02-11 15:24] kanaka commented on #165
@ktodyruik seq/string? are new functionality that is currently in progress. The branch *issue_166_string_ops* has implementations of seq and string? for bash, c, clojure, coffeescript, ES6, JavaScript, Haxe, MATLAB, miniMAL, Python, and RPython. Try those. You can follow progress on implementation of seq/string? for other implementations in #166.

[2016-02-11 15:24] kanaka commented on #166
I push several implementations to branch issue_166_string_ops.

[2016-02-11 16:56] kanaka commented on #166
@dubek I've started implementing *seq* and *string?* on branch issue_166_string_ops. If you want to help, feel free to send PRs to this branch.

I'll probably do make and postscript next.

[2016-02-11 20:38] kanaka commented on #166
@dubek btw, don't bother waiting for travis. Just send pulls against this branch and I'll merge it as soon as I see it. Any issues caught with travis can be dealt with later before this branch is merged onto the mainline.

[2016-02-11 20:47] dubek commented on #166
Add a checkbox for process/stepA_mal.txt and process/guide.md updates.

[2016-02-12 04:42] dubek commented on #166
tcl in #169. I'm working on vimscript and D and go.

[2016-02-12 15:41] kanaka commented on #166
I'll take the "javas": groovy, java, scala.

[2016-02-12 15:54] dubek commented on #166
I'll take the sharps: cs, fsharp, vb

And then crsyal, lua, perl.

[2016-02-12 16:03] kanaka commented on #166
@dubek I discovered a bug in some implementations where (keyword? "") throws an error. I added a test in step9 and I'm just going to use travis to show which others still have the issue: https://travis-ci.org/kanaka/mal/builds/108816302

[2016-02-12 16:15] dubek commented on #166
Thanks @kanaka, I just noticed myself that c-sharp has this bug.

[2016-02-12 16:17] dubek commented on #166
@kanaka - Another thing I noticed (in ocaml, maybe others) is that `(symbol 'a)` and `(keyword :a)` don't just return the argument (idempotent), as they should (I believe).

[2016-02-15 18:10] dubek commented on #166
I'll take guile and racket.

[2016-02-16 14:26] dubek commented on #166
I'll try to tackle factor.

[2016-02-16 17:03] kanaka commented on #166
@keith-rollin you around? Think you could tackle adding "string?" and "seq" to Swift? I don't have a system where I can do Swift development (although I may start poking at the Linux support for Swift at some point soon).

[2016-02-16 23:24] ktodyruik opened #177 "Keyword equals is false"
Just noticed this in the CSharp version:

[code]

[2016-02-16 23:27] ktodyruik commented on #177
FYI, I noticed this in the 'issue_166_string_ops' branch as I was trying out the new string functions.

[2016-02-17 15:20] kanaka commented on #177
@ktodyruik I'm not seeing that behavior. Are you certain you are on the most recent version of the branch (what git hash are you testing against)? Also, what version of mono do you have?

[2016-02-17 18:22] ktodyruik commented on #177
I built it using .NET 4.0 on Windows (not mono), and I checked out the
issue_166_string_ops branch.

Kerry

On Wed, Feb 17, 2016 at 8:20 AM, Joel Martin <notifications@github.com>
wrote:

[2016-02-17 19:30] ktodyruik commented on #177
I just tried it with the main branch. The issue appears to be in the _equal_Q type comparison.

![debug](https://cloud.githubusercontent.com/assets/6691649/13122006/25783f76-d572-11e5-9c04-3e50e546bdda.png)

[2016-02-18 15:03] kanaka commented on #177
@ktodyruik interesting. But all the other tests work for you? For the statement `(= kw :abc)` you shouldn't be getting a MalSymbol passed to the `_equal_Q` function because the symbol should have been resolved to it's value from the environment (unless you intentional quote the symbol). I don't see that behavior myself with mono on Linux so I don't have a way to reproduce it in order to debug and

[2016-02-18 16:50] ktodyruik commented on #177
@kanaka Thanks. Good suggestions. I have been playing around with the source code. I'll make sure I'm testing on a clean copy and take a closer look.

[2016-02-18 16:57] ktodyruik commented on #177
@kanaka I just ran it on a fresh copy and it worked correctly. So I caused the bug somehow. Sorry to trouble you. :)

[2016-02-18 18:24] kanaka commented on #177
@ktodyruik glad you figured it out.

[2016-02-18 18:24] #177 closed

[2016-02-23 21:48] ktodyruik commented on #177
@kanaka I see my mistake now. I tried to create an alias from = to eq?.

I mistakenly wrote
[code]
instead of
[code]

This caused the _equal_Q function to be a macro. Then, EVAL called macroexpand which evaluated the expression to false.

[2016-02-25 02:14] kanaka commented on #166
After implementing Swift 3, I went ahead and updated Swift (2). It took a couple of rounds using Travis as a compile test, but it's working now. I'll let travis finish (https://travis-ci.org/kanaka/mal/builds/111649255) and then close this if there are no issues.

[2016-02-25 03:18] #166 closed

[2016-03-04 10:55] wasamasa opened #182 "Relevance of conj for self-hosting"
`guide.md` speaks of `conj` being optional and not required for self-hosting.  However the Mal implementation that is run in this step does contain `conj` in its `core.mal`.  I cannot find any other usage of `conj` in its sources, so I suspect it's either been added with the intention of making use of it (and making `conj` mandatory to implement for self-hosting) or in error.

[2016-03-04 17:01] kanaka commented on #182
It's a little bit tricky: if conj isn't defined in an implementation, the the mal implementation will fail to load (step4 and later) because mal/core.mal has a reference to conj. However, I don't want to just drop conj from the mal implementation because then the self-hosting tests won't completely pass even if the underlying implementation does provide conj because it's not referenced in the mal

[2016-03-04 18:45] wasamasa commented on #182
I've read this like three times and still don't understand why `conj` is required...

But yeah, I guess I'll add that to my list.

[2016-03-04 22:27] kanaka commented on #182
Heh, yeah that was pretty confusing. Let me try a different approach:

1. Completely remove conj from an implementation -> using that language to self-host will fail for steps 4-A (undefined reference to "conj").

2. Remove conj from mal/mal/core.mal: self-host for every impl will have stepA soft failures regardless of whether host language has conj.

So if the guide is changed to mention that whi

[2016-03-04 22:49] wasamasa commented on #182
Thanks, this is indeed much clearer.

[2016-03-04 22:50] #182 closed

[2016-03-25 09:22] igravious opened #190 "Mal [c] … user () … Segmentation fault (core dumped)"
The empty list causes the C version of Mal to fall over and die a screaming horrible death.

In the Ruby version a ```NoMethodError: undefined method `[]' for nil:NilClass``` exception is raised because in `return f[*el.drop(1)]` at the end of `EVAL` the variable `f` is `nil` (the non-existent first element of the list.

Is Mal meant to treat the empty list as both a List and Atom. If so, how?

Ty

[2016-03-25 20:40] dubek commented on #190
Mal (like Clojure) has `nil` as a separate type/entity from the empty list.

Clojure treats `()` as the empty list, identical to `'()` or `(quote ())`. The last two work in Mal but simply `()` is treated as a function application and the function is not found (hence the exceptions/crashes).

Note that proper behaviour under bad input is not defined in Mal. For example, `+` need to arguments (e.g.,

[2016-03-25 22:25] igravious opened #193 "example from page 59 of TAPL not working quite as expected?"
`user> (def! test (fn* [l m n] l m n))`

`user> (def! tru (fn* [t f] t))`

`user> (def! fls (fn* [t f] s))`

`user> (test tru 3 4)` should return `3`?
`user> (test fls 3 4)` should return `4`?

Instead I seem to get an unevaluated functions, either `#<Function: (fn* [t f] t)>` or `#<Function: (fn* [t f] f)>`

Thoughts?

[2016-03-25 23:09] kanaka commented on #190
@igravious an unquoted empty list is a common enough issue that implementations shouldn't crash. So we'll fix any implementations that crash. In the general case though, @dubek is correct. It's perfectly acceptable for individual mal implementations to do rigorous error checking and useful error reporting, however, requiring that of all implementations is a non-goal. I know it's a little bit unusu

[2016-03-25 23:12] kanaka commented on #193
I think you have a couple of typos. You test function is missing some parens:

`(def! test (fn* [l m n] (l m n)))`

And your fls function has an incorrect variable name:

`(def! fls (fn* [t f] f))`

Making those changes I get the correct behavior.

[2016-03-25 23:12] #193 closed

[2016-03-25 23:16] igravious commented on #193
Fixed my typo up above. Thx

Oh, do I need `()` around multiple variables?

[2016-03-26 05:43] kanaka commented on #193
Parens in Lisp define lists. However, when an unquoted list is evaluated in Lisp, the first position in the list is a function and the rest of the elements are arguments. So `(+ 2 3)` means call the `+` function using the arguments 2 and 3. In mal, `(fn* (a b) (+ a b))` means define an anonymous function that takes two arguments and calls `+` using those arguments. This `(fn* (a b) + a b)` is quit

[2016-03-28 03:10] dubek commented on #190
I started fixing this in #194 . The travis status there will show how many more implementations need fixing.

[2016-04-05 14:43] kanaka commented on #190
This should be resolved now.

[2016-04-05 14:43] #190 closed

[2016-04-18 11:45] igravious commented on #190
Super. Mal has been a brilliant learning tool for me.

[2016-05-10 17:11] dubek commented on #94
I believe this is completed in dca6b585784eeb32e85353efaa0d0fa1a5a9a5aa .

[2016-05-10 18:00] kanaka commented on #94
Sure enough. Thanks.

[2016-05-10 18:00] #94 closed

[2016-06-16 12:50] dubek commented on #152
Closing as this is solved via #221. Note that now the interop function is `js-eval` (instead of the older `js*`).

[2016-06-16 12:50] #152 closed

[2016-07-15 14:19] ruoshuiwyl opened #226 "haskell Type.hs ERROR"
Env :  opensuse 42.1 ghc 7.10.3
runhaskell step2,...,stepA
Types.hs:64:1:
    Non type-variable argument
      in the constraint: Control.Monad.Error.Class.MonadError MalError m
    (Use FlexibleContexts to permit this)
    When checking that ‘throwStr’ has the inferred type
      throwStr :: forall (m :: * -> *) a.
                  Control.Monad.Error.Class.MonadError MalError m =>

[2016-07-15 15:47] kanaka commented on #226
This is due to changes in ghc-7.10.1: http://stackoverflow.com/questions/28287329/ghc-7-10-non-type-variable-argument-use-flexiblecontexts-to-permit-this

You can get things to compile by adding `-XFlexibleContexts` to the ghc call in the makefile, however, there were also some refactorings to Error/Exception handling in 7.10.1 so you get lots of build warnings.

I think the correct fix for this i

[2016-07-17 01:37] ruoshuiwyl commented on #226
Thank you.
I try to compile by addding  -XFlexibleContexts.
It works.

[2016-09-15 20:20] ktodyruik opened #234 "Trying to write filter function"
Hi,

I'm trying to write a filter function. I've tried a couple attempts and I am getting some odd results. Would appreciate some feedback as to what I am doing wrong.

[code]

And then in the js repl I'm getting:

[code]

Thanks

[2016-09-15 20:38] kanaka commented on #234
@ktodyruik heh, your code indenting is misleading you. This line:

```(filter pred (cdr xs))``` should actually be
```(filter pred (cdr xs)))```
(and then of course you need one less paren at the end)

If you use vim, @dubek has a very helpful vim plugin for mal: https://github.com/dubek/vim-mal I was able to reformat your code with it and immediately saw the problem based on the indenting.

[2016-09-15 20:41] #234 closed

[2016-09-16 14:42] ktodyruik commented on #234
Thanks, Joel! I didn't know about the Vim plugin. That's a great tip. Love Vim!
Kerry

[2016-09-16 17:25] ktodyruik opened #235 "Threading macro question"
I was trying out the -> operator that is in core.mal.

How would you use functions like map or filter with ->? Leaving off the argument doesn't automatically create a partially applied function and return another function. I could create an anonymous function or create a new function. Is there a more general way to do partial function application on map or filter so that I can use it in ->?

Thank

[2016-09-16 17:41] kanaka commented on #235
Can you give a code example of what you are trying to do?

[2016-09-16 19:38] ktodyruik commented on #235
Yup.

For example,

[code]

[code]

Is there a better way of rewriting my original map in the first example using ->?

[2016-09-16 19:46] wasamasa commented on #235
Threading macros and lambdas don't mix terribly well.  In the case of `map`, it's common to see `->>` for cleaning up an unwieldy expression the anonymous function is applied to.  One can also mix both when needed.

[2016-09-16 21:03] ktodyruik commented on #235
@wasamasa Thanks. I think I was misunderstanding the difference before thread first and last and confusing what was going wrong with my expression. I thought it had something to do with partial function application. I see now that I was just using the wrong threading macro.

Here is my working code:

[code]

Thanks for your help.
Kerry

[2016-09-19 14:55] ktodyruik opened #236 "Useful functions"
I was wondering what useful functions people have written (in mal) to supplement the base mal language. I noticed some functions and macros in core.mal with some useful functions. I like the clojure-style threading macros. Very clever and shows what a capable language mal is. I didn't see filter in the git repository so I wrote my own the other day and was going to write 'range' next. Are there an

[2016-09-19 17:56] dubek commented on #236
Look at the `examples` subdir for some, well, examples, like Clojure-like protocols.

For a bunch of more Mal code (like a Mal tokenizer and parser) you can look at my [malc repository](https://github.com/dubek/malc), though I can't recommend specific reusable functions on top of my head.

@kanaka and I previously discussed adding a `lib` subdir with `core.mal` and a bunch of other stuff (even mov

[2016-09-19 18:12] kanaka commented on #236
@ktodyruik yes, please feel free to send pull requests that add useful functions to the `examples/` subdir. At some point, we'll re-organize to move more lib/contrib related stuff to a separate directory. If you include a test file in the same directory for now (and using the standard format), that would be great too.

[2016-09-19 18:12] #236 closed

[2016-09-19 18:15] kanaka commented on #236
@ktodyruik also a lot of Clojure functions and macros should port to mal fairly easily as long as they don't rely on protocols or lazy sequences. The semantics and data structures in mal are modeled after Clojure.

[2016-09-19 19:48] #235 closed

[2016-09-19 19:53] ktodyruik commented on #236
@kanaka Could you elaborate on what you meant by "If you include a test file in the same directory for now (and using the standard format), that would be great too." Thanks.

[2016-09-20 14:31] kanaka commented on #236
The test syntax I'm referring to is that used in `tests/*`. And you can run `runtest.py` directly to run mal tests. For example, consider you defined a `sumdown` function in `examples/sumdown.mal`:

[code]

The you could define a test file `test_sumdown.mal` like this:
[code]

You can now run those tests using a specific implementation like this:

[code]

[2016-10-06 22:53] #226 closed

[2016-10-06 23:39] kanaka commented on #226
@ruoshuiwyl I would be interesting in hearing if you are able to use the latest changes from @prt2121 without requiring the -XFlexibleContexts hack

[2016-10-09 09:02] ruoshuiwyl commented on #226
thank you. I try to it.

[2016-10-21 21:34] wasamasa opened #241 "Create a spec"
Note: This has been brought up by @benaiah on IRC.

It's wonderful that MAL has a guide, loads of tests and some example code, however some parts of the guide are less than clear.  One example of this is the number type (there is no mention whether you need to support signed numbers, what range they must have, whether they may be floats, etc.), another one would be the specific semantics of hash m

[2016-10-22 10:38] g3ntleman commented on #19
I am missing the general idea in the TCP-Chapter.
You explain TCO and why it's useful (knew that ;-)).
Then you drop into detail at which parts of the code, which calls need to be changed.

Maybe it's just me, but I am missing a sentence or two on the general idea how to implement it.

Specifically, I did not understand where the test wether a call is a tail call is done as we can only optimise re

[2016-10-27 17:42] kanaka commented on #241
Sorry for the late reply. My github notifications started going to spam a week ago.

I mentioned this in IRC already, but yes, this would be great. I won't be able to do so any time soon but would be happy to review and give feedback.

I would suggest three different levels: basic, self-host (vectors, hash-maps, function metadata), extras (conj, seq, collection metadata).

[2016-12-11 21:37] pstephens opened #251 "RFC: x64 Implementation Proposal"
This is a slightly longer version of the proposal posted on Twitter: https://twitter.com/peterastephens/status/806710260815822849

Originally I was thinking the x64 implementation would need to emit binary opcodes, ELF headers, etc. After taking a look at @dubek's [malc LLVM implementation](https://github.com/dubek/malc) I think a simpler approach can be taken: the compiler can be written in mal a

[2016-12-12 06:17] dubek commented on #251
That's one big project... Good luck!

If I understand correctly you suggest building a mal compiler, that is - takes mal source and outputs ELF executable binaries. How does this work as, for example, step0, which should run an endless loop echoing the user's input? Of course, if you have a full functioning compiler, you can compile the mal implementation of mal (`mal/step0_repl.mal`), run that, a

[2016-12-12 06:17] dubek commented on #251
BTW: @pstephens , you're welcome to join #mal on freenode if you're not already there.

[2016-12-12 21:21] kanaka commented on #251
@pstephens Emitting raw machine/object code would definitely be an interesting challenge/puzzle, but it would be a lot of effort to learn not that much more than emitting assembly. I think the most interesting parts (in terms of both learning and results) are definitely the items that you enumerated (JIT/eval, GC, efficient persistent data structures, exceptions, interop). I think this is basicall

[2016-12-15 11:30] dubek commented on #251
Another advantage for generating LLVM IR is that you can gain from optimizations at the IR level (LLVM's `opt` tool). For example, in malc a Mal expression like `(* 3 (+2 5))` will be compiled something like `mal_integer_to_raw(mal_mul(make_integer(3), mal_add(make_integer(2), make_integer(5))))` and `opt` will optimize all that to the literal `21` in the generated optimized LLVM code.

[2016-12-16 16:49] nukecoder commented on #51
I got tests working on Windows Under Cygwin64 withe following couple of changes.

`@@ -125,11 +125,11 @@ class Runner():
                 debug(new_data)
                 if self.no_pty:
                     self.buf += new_data.replace("\n", "\r\n")
                 else:
                     self.buf += new_data
-                self.buf = self.buf.replace("\r\r", "\r")
+                self.buf

[2016-12-18 21:30] pstephens commented on #251
@dubek wrote:

I think the main distinction is AOT vs JIT. In order to support the REPL while also generating x64 a JIT will need to be implemented. Generating asm source will also be required to bootstrap from an existing mal implementation. Technically the whole thing could be written in plain assembly, but I kind of like the idea of using mal macros and fns for composition rather than the macro

[2016-12-19 17:21] kanaka commented on #251
On Sun, Dec 18, 2016 at 3:30 PM, Peter Stephens <notifications@github.com>
wrote:

Sounds pretty hard to me. :-) But it would definitely be cool.

Yep, if that's what "scratches the itch", then go for it!

sense to merge it to master. If it follows the steps and the general code
structure and can pass all the mandatory steps then I think it probably
does make sense to merge it to the main tree.

I

[2016-12-20 00:27] kanaka commented on #51
@nukecoder that patch breaks tests on Linux.

If somebody suggests a clean patch that will work on Linux, OS X and Windows (cygwin or native but both would be a plus) I'll be happy to merge it. I don't have a convenient way to test all three (only Linux).

[2016-12-20 08:48] dubek commented on #51
According to @nukecoder 's message another thing we should pay attention to is Git's translation of line endings - apparently on Windows git will auto-translate line endings to `\r\n` - just to add some more noise to the party.

[2017-04-30 16:03] dotmilk opened #258 "Node / Js / es6 step 0"
I've noticed the `node-gyp rebuild` fails when I `npm --install` in the js or es6 implementations.
Found out why [here](https://github.com/node-ffi/node-ffi/issues/337) had to bump ffi to 2.2.0

That is not however the issue per se. My issue is that the tests fail (I would assume unless I use the ffi readline)

I was trying to rework it myself from scratch and started on my own implementation.

Cu

[2017-05-03 19:11] kanaka commented on #258
The node readline module has a bit of an issue properly detecting and responding to non-interactive use. In order to get it to pass the tests, you need to call createInterface using the `terminal: false` option. Note that you may want to add a command line option for this because for interactive use you will want the readline features (history, line editing, etc).

There are actually a few other i

[2017-05-03 19:11] #258 closed

[2017-05-20 20:38] cowboyd opened #259 "Unable to get test harness working with node"
First, a little background. I had been trying to do a MAL implementation in web assembly, but when I wasn't progressing fast enough I thought, well how can I cut scope... Rather than learning to make a lisp AND learn WASM at the same time, let me do one and then the other.

Soooooo. I decided to tackle the first issue first, and I'm going to try doing it with `node.js`. However, I sat down to get

[2017-05-20 21:31] kanaka commented on #259
I think first working on a Lisp in a dynamic language you know well is a good strategy. I suspect you are running into this problem: https://github.com/kanaka/mal/issues/258#issuecomment-299007084

[2017-05-20 21:33] kanaka commented on #259
BTW, what tool do you use to do the terminal recording?

[2017-05-21 07:44] cowboyd commented on #259
Yup, that was it. I'd actuall gotten it to work by not using the nodejs `prompt()` method which reports a new line of intput in a non-standard way.

[code]

fwiw, I use Gifox. It's pretty great http://gifox.io/

[2017-05-22 17:38] cowboyd commented on #259
Closing this since the suggestion fixed the issue. I just checked for the `MAL_IMPL` environment variable to set the `terminal: false`

Thanks!

https://github.com/cowboyd/mal/blob/mal-node/node/step0_repl.js#L25-L29

[2017-05-22 17:38] #259 closed

[2017-07-09 13:23] maacl opened #263 "Conditional read not allowed."
When trying to run the cljorecsript version of Clojure mal I get the following error:

[code]

[2017-07-10 22:32] kanaka commented on #263
What version of lumo?

[2017-07-11 11:03] maacl commented on #263
Lumo 1.2.0
ClojureScript 1.9.482

[2017-09-12 20:38] DasBrain opened #278 "Memory leak with Tcl implementation"
The Tcl implementation uses TclOO objects to represent mal objects. Unlike other languages, Tcl does not have a garbage collector. Objects have to be destroyed by the programmer.

[2017-09-12 20:45] dubek commented on #278
I wrote the TCL impl - and indeed I mentioned this problem in the first pull request #106 ... You're welcome to try to solve it (implement GC / reference counting yourself) - it is a challenge.

[2017-09-12 21:22] DasBrain commented on #278
I will try, but I will use a dicts as objects. They are immutable, so modification of them will be hard.

Also, I don't understand why you use apply at all.

[2017-09-17 08:12] zaoqi opened #282 "Reference"

[2017-09-17 08:14] zaoqi opened #283 "Scheme2mal"

[2017-09-17 08:25] zaoqi opened #284 "define-syntax,syntax-rules"

[2017-09-17 09:13] wasamasa commented on #282
Please provide a description, otherwise we can only guess what your intent is behind this ticket.  Same goes for #283 and #284.  If I had to guess, they're about a spec (which already got a ticket in #241), extending Mal to the level of Scheme (which won't happen) or compiling Scheme/Clojure to Mal (good luck with that).

[2017-09-17 09:36] #283 closed

[2017-09-17 09:36] #284 closed

[2017-09-17 09:37] zaoqi commented on #282
@wasamasa
I can't find something like "The mal Reference"

[2017-09-17 10:19] wasamasa commented on #282
That's because there isn't one yet. You can find a bit of discussion what would go into one at #241.

[2017-09-17 11:30] zaoqi commented on #283
@wasamasa Scheme/Racket2mal: https://github.com/zaoqi/scheme.mal

[2017-09-17 11:59] zaoqi opened #286 "lua"
Some Lua interpreter doesn't support `require`(e.g. minetest https://github.com/minetest/minetest/).
Use `dofile`

[2017-09-17 12:17] wasamasa commented on #286
I doubt the Lua interpreter embedded in Minetest would work with the current implementation:

[2017-09-18 12:43] zaoqi commented on #286
@wasamasa Minetest doesn't support `require`. because of safe

[2017-09-18 14:46] kanaka commented on #286
@zaoqi if you would like to submit a pull request that add support for the Minetest Lua without breaking the current lua support we would consider it. Please make sure to include a way to automatically test it with the Minetest Lua (i.e. a lua_MODE setting like scheme_MODE or haxe_MODE) and updates to the lua Dockerfile to install Minetest lua alongside the regular lua.

[2017-09-18 14:46] #286 closed

[2017-09-18 15:00] kanaka commented on #283
@zaoqi If you would like to get this code into the mal repo, I think it would be interesting under examples/. A bit more documentation in the file or perhaps by adding a `examples/README.md` would be useful (motivation, usage, etc). Also, the preferred license for mal code and examples is MPL 2.0.

[2017-09-19 03:48] kanaka commented on #282
I'm closing this since it's already covered by #241

[2017-09-19 03:48] #282 closed

[2017-09-20 12:45] zaoqi opened #287 "call stack"

[2017-09-20 15:39] wasamasa commented on #287
Please don't open issues without any description whatsoever.  I have absolutely no idea what your intention is and am inclined to just close this issue.

[2017-09-21 14:11] zaoqi commented on #287
I wan to get call stack when error

[2017-09-21 17:25] kanaka commented on #287
@zaoqi it's still not clear what you're asking for. Most implementations already display a call stack when they encounter an uncaught error (some of the ahead-of-time compiled implementations don't have call stacks). You're welcome to submit a pull request adding call stacks to implementations that don't have them.

Perhaps you mean a mal call stack when using an implementation to run another mal

[2017-09-21 17:25] #287 closed

[2017-10-05 09:17] zaoqi opened #293 "FFI Support"

[2017-10-06 12:21] zaoqi opened #295 "Compile a Lisp"
Like https://github.com/dubek/malc

[2017-10-06 17:05] kanaka commented on #295
@zaoqi yes, @dubek is part of the core mal team. In the past we have actually discussed a sequel to the mal guide that would cover some advanced topics like compilation, interop. We've also discussed moving some parts of malc (such as the tokenizer and reader) to a "./lib" dir in mal along with some other things that are currently in "./examples".

@dubek, for now, it might be worth while to at le

[2017-10-06 17:05] #295 closed

[2017-10-07 08:26] zaoqi opened #296 "How to define `procedure?`?"
like this?
[code]

[2017-10-07 09:48] wasamasa commented on #296
There is no such predicate yet and your predicate would match numbers, too (IIRC malc does define `number?` this way).  The main problem is that there's no spec whatsoever, so unlike with Scheme there's no requirement for all types to have disjoint predicates (with records in R7RS being defined to have their own distinct predicate for each defined record type).

[2017-10-07 10:40] zaoqi commented on #296
So https://github.com/zaoqi/zscheme/commit/ac5a8096c242cf8d8164fcbe12b2ca62b992bc22

[2017-10-07 19:14] dubek commented on #296
As for `number?`, this is what I came up with in malc:

[code]

[2017-10-08 09:55] zaoqi commented on #296
@dubek
[code]

[2017-10-11 14:02] zaoqi-unsafe opened #302 "Bound"
Add
*int-max-bound*  integer or false
*int-min-bound*
*integer*  Scheme Racket Haskell:Integer true other false
*ratio* boolean
*float* boolean

[2017-10-11 15:33] wasamasa commented on #302
I vote for no here.  If you plan on implementing Scheme's numeric tower, forget about it.  The tests specify so far that you can use integers, including negative numbers.  Requiring any more than that is unreasonable, I feel the same about introspection, including but not limited to the limits and types of numbers of the implementation.

[2017-10-11 15:41] kanaka commented on #302
This is interesting, but not for the core learning/guide purpose of mal. Many of these are very complicated to implement depending on the underlying target language. And they don't add to the core goal of learning Lisp and/or a target language. This would be more interesting as a blog post about how you might add this to an existing mal implementation, but it's not going to be added to the basic g

[2017-10-11 15:41] #302 closed

[2017-10-13 13:29] zaoqi commented on #302
@wasamasa JS implementation doesn't support integer like Haskell Integer.

[2017-10-13 13:59] zaoqi opened #303 "Shen"

[2017-10-13 16:08] wasamasa commented on #302
@zaoqi This is irrelevant as it's an implementation detail. If the implementation passes the tests where two integers are added, it's fine for our purpose.

[2017-10-13 16:20] wasamasa commented on #303
If you want a Shen implementation, make one and open a pull request.

[2017-10-13 16:20] #303 closed

[2017-10-13 16:24] zaoqi commented on #303
@wasamasa https://github.com/kanaka/mal/tree/shen

[2017-10-13 16:37] wasamasa commented on #303
The description field is there for a reason, if you don't say what you want, don't expect me to help you.

[2017-10-16 13:29] zaoqi-unsafe opened #304 "translation"
zh_CN https://github.com/Windfarer/mal-zh

[2017-10-16 17:20] kanaka commented on #303
@zaoqi I started that Shen branch a while ago. I would be happy to take a pull request with a full Shen implementation, however, I won't be able to implement it in the near future. If you are interested in a Shen implementation, feel free to implement it and send a pull request.

[2017-10-16 19:21] iqbalansari commented on #303
FYI I am working on an [implementation](https://github.com/iqbalansari/mal/tree/shen2/shen) in Shen, it is almost complete (3 steps remaining)

[2017-10-16 19:38] kanaka commented on #303
@iqbalansari awesome! Thanks for letting us know.

[2017-10-16 20:05] dubek commented on #303
@iqbalansari Cool! After that will be done, when can we expect a Shen port running in Mal? :-)

[2017-10-16 20:59] wasamasa commented on #303
@iqbalansari Very nice.

[2017-10-17 13:55] zaoqi-unsafe opened #305 "Scheme"
Lots of scheme implementions don't support library, `case` and `when`.

[2017-10-17 17:44] kanaka commented on #305
@zaoqi-unsafe I'm not sure what you are asking. `case` and `when` are not in the scope of mal. However, you can implement them using macros in mal. If you implement macros for them, please add them under `examples/` and submit a pull request. I would be happy to add them there if you implement them and send a good PR.

[2017-10-17 17:44] #305 closed

[2017-10-17 17:49] kanaka commented on #304
@zaoqi-unsafe it's not clear what you are asking. Are you wanting a link to this in the README? Are you wanting this translation included side-by-side with the English guide (I would probably only do that if the author of the translation is willing to commit to keeping it up to date with the English version). A link is fine idea, but please submit a pull request with the change you would like to s

[2017-10-17 17:49] #304 closed

[2017-10-17 18:12] wasamasa commented on #305
I'll just assume you refer to the Scheme code of the MAL implementation using when, define-library and more. This is intentional as it targets the R7RS standard (see the README) which provides all necessary features for implementing MAL. I therefore consider this suggestion invalid.

[2017-10-23 16:09] kanaka commented on #296
This is covered by: https://github.com/kanaka/mal/pull/298 so I'm closing this one.

[2017-10-23 16:09] #296 closed

[2017-11-25 21:42] bagnalla opened #309 "HolyC implementation (TempleOS)"
I've written a [HolyC implementation](https://github.com/bagnalla/holyc_mal) of Mal. It passes all tests, self-hosts, and has garbage collection. It's a bit unusual compared to other implementations because there's currently no way to run HolyC natively on Linux.

Is there any interest in including such an implementation in the main repo? The old "step" files aren't included in the repo linked abo

[2017-11-26 07:53] dubek commented on #309
Nice!

Maybe prepare a Docker image with qemu and a TempleOS image in it? And then copy the mounted /mal volume content into the TempleOS disk image... A lot of work, for sure.

[2017-11-27 04:58] bagnalla commented on #309
I think I've managed to put together a Docker image (first time), but it appears to require some special arguments to run since it's a GUI application. I'm able to run it with the following command:

docker run -it --privileged --rm -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix -v /root/.Xauthority:/root/.Xauthority:rw bagnalla/mal-holyc:v1

So I'm guessing that it isn't quite compatible wi

[2017-11-27 09:49] dubek commented on #309
Yeah that wouldn't work with the existing automation. Also I believe our current Docker images have python installed in them, and that python is actually driving the tests (inside the Docker container).

But a published Dockerfile (and possibly a public image on Docker Hub) would allow other users to quickly test the implementation, even if it's not via the standard `make DOCKERIZE=1 ...` mechanis

[2017-11-27 16:23] bagnalla commented on #309
There's [this](https://github.com/jamesalbert/HolyC-for-Linux) which is incomplete. I've thought about writing a HolyC -> C or C++ translator but I think there are many quirky behaviors in HolyC that would be hard to preserve. I could make it work for the purpose of this project, but it wouldn't be sound in general.

It's probably possible to port the existing HolyC compiler somehow, but it would

[2018-02-12 22:03] Roger opened #313 "Can't run tests using rustyline"
I'm trying to implement a rust version of mal, but I can't run the tests because of how the readline implementation of rustyline is made, it add some control codes, I tryied making a regex that removes the control codes(in runtests.py), that somehow worked, but it also get a \r at the start of the lines..

Example output for 'abcABC123':
'\r\x1b[6CabcABC123\r\nabcABC123\r\n\r\x1b[0Kuser> \r\x1b[6C

[2018-02-12 22:47] kanaka commented on #313
If rustyline is based on linenoise then I'm not too surprised that it is misbehaving since linenoise has similar issues.

Generally the way that we work around bad readline implementations is by adding a `--raw` command line option to the implementation that just does direct (non-readline) input. That way it's testable using the normal tools but still has readline friendliness. You can use the lua

[2018-02-12 22:47] #313 closed

[2018-02-13 11:08] Roger commented on #313
Oh I see.. wouldn't be nice to add some reference about this on the guide or readme?

[2018-02-16 16:21] kanaka commented on #313
@Roger I'm be happy to accept a PR that added this to the guide.

[2018-06-25 02:59] chr15m opened #321 "Move examples & core.mal into lib/"
See #320 for discussion.

@kanaka please feel free to assign me to this issue.

[2018-07-19 03:36] seven1m opened #327 "Another Rust Implemention"
I finished my own Rust implementation of Mal recently. I don't think mine is any better than the implementation in this repo, but I would appreciate a link from your readme, if you think that is appropriate!

https://github.com/seven1m/mal-rust

[2018-08-25 22:31] kanaka commented on #327
Was just working through my emails and realized I had never followed up on this. I have added a link to your implementation in the README.

[2018-08-25 22:31] #327 closed

[2018-08-25 22:43] seven1m commented on #327
Yay, thank you!!

[2018-09-12 01:25] zaoqi-unsafe opened #329 "How to use it in Microsoft Excel?"

[2018-09-12 07:54] wasamasa commented on #329
Since there's no existing implementation, make one. This is what this repository is about, teaching people how to *make* a Lisp. Use whatever Excel provides for scripting (VBA being the obvious option, but there's been Python plugins for Excel as well...). Maybe the existing Visual Basic implementation is of use. You may also find my https://github.com/wasamasa/mal-candidates repository useful to

[2018-11-20 22:17] rbobrowicz opened #332 "Undefined behavior and test case improvements"
Not sure how active this repository is anymore, but I just started going through the process and finished step 1. All the test cases pass, but I still tried to compare my implementation to existing ones to make sure I didn't miss anything. I noticed a few inconsistencies right off the bat.

## Multiple expressions
I realized after I was done that my implementation was throwing away all user input

[2018-11-21 20:12] wasamasa commented on #332
Hello there. I'm just a contributor of a few implementations, so don't take the things below as an absolute decision, more of a set of observations I've made over time with this project.

Generally speaking I doubt most of the changes to interpreter behavior you've proposed are worth doing. Consider that this repository is concerned with teaching people how to implement a Lisp interpreter, not to

[2018-11-26 16:31] rbobrowicz commented on #332
Hi,

What you are saying makes sense, and in light of that I can see how most of my suggestions don't further the goals of the project. Although if I may play devil's advocate for a moment. By ignoring trailing input there was at least one bug that the test suite was not able to properly test for. I had accidentally made my line comment prefix `;;` instead of a single `;`. The test case `1; a comm

[2019-01-24 18:07] kanaka commented on #90
Support for this was added in f6f5d4f.

[2019-01-24 18:07] #90 closed

[2019-01-24 18:44] kanaka commented on #89
Now that #90 is implemented, I'm finally getting back around to this. I pushed a "test_unclosed_string" branch with step1 tests to catch this. Here is the list of broken implementations and their status:

* [X] awk
* [ ] basic
* [X] c
* [X] clojure
* [ ] crystal
* [ ] cs
* [ ] d
* [ ] dart
* [ ] factor
* [ ] fantom
* [ ] go
* [ ] groovy
* [ ] haxe
* [ ] hy
* [ ] io
* [ ] java
* [ ] julia
* [ ] kot

[2019-01-25 20:10] wasamasa commented on #89
Hm, I've implemented a check in my readers by testing for the first char of the token and if it's a double quote, test the last char of the token as well. Depending on that check either an error is thrown or a string object is returned.

[2019-01-25 21:01] kanaka commented on #89
@wasamasa yeah, there are a number of implementations where the check just doesn't match the error text. The fixes are pretty simple. I was just planning to do them myself instead of creating a branch for fixes since the fixes tend to take less than a minute per implementation. FYI, the run with the fixed up test is here: https://travis-ci.org/kanaka/mal/builds/484027719

[2019-01-25 22:20] kanaka commented on #89
Okay, I pushed fixes for the 47 implementations that were complaining. We'll see if everything passes before closing: https://travis-ci.org/kanaka/mal/builds/484570489

[2019-01-26 21:55] samdup123 opened #336 "Failure in Lua Implementation"
I try to run the lua implementation and I get a failure.
[code]

[2019-01-28 19:49] kanaka commented on #336
I suspect you are using a version of Lua newer than 5.1.x. I've update the implementation and docker image to lua 5.2

[2019-01-28 19:49] #336 closed

[2019-01-28 21:18] kanaka commented on #332
I'm going to go ahead and close this issue. @rbobrowicz if you're still interested, you can submit a pull request for the comma parsing, that will trigger travis to run for that PR and give a list of implementations with the problem.

[2019-01-28 21:18] #332 closed

[2019-01-28 21:30] kanaka commented on #251
@pstephens I'm going to close this since it has been open for a while and in the meantime Ben Dudson has done a full x86 assembly/nasm implementation. If you do ever get back around to this alternate approach, I would be happy to consider including it too. I'm happy to include multiple implementations for the same language if they have very different approaches that still fit the overall mal struc

[2019-01-28 21:30] #251 closed

[2019-01-28 21:39] kanaka commented on #309
@bagnalla I'm doing some cleanup of mal issues. I'm probably going to close this soon unless you indicate you still want to work on getting it integrated. If you are interested in working this, one approach that might work is if TempleOS has serial port support. If it does, then you could look at the approach I used for launching fooboot applications booted within qemu but still being able to test

[2019-01-28 21:50] bagnalla commented on #309
I probably won't have time to work on this in the foreseeable future, so feel free to close it. There's still the [standalone repo](https://github.com/bagnalla/holyc_mal) but I guess it may fall out of sync over time.

[2019-01-28 22:10] kanaka commented on #309
@bagnalla okay, I've added a link to your implementation to the README (under External Implementations). I'll close the issue. If in the future, you are able to get this running against the standard test harness, feel free to send a PR with the change.

[2019-01-28 22:10] #309 closed

[2019-02-18 20:45] seven1m opened #341 "Uncaught exception: nth index out of range when using mal's own try* form"
I've nearly completed a new mal implementation, but I'm stuck on running the self-hosted tests.

The simplest reproduction of this error looks like this:

[code]

I believe I've tracked the problem down to [this line of code](https://github.com/kanaka/mal/blob/138cbb9c100a706cff594096dca6dd4ec82177a4/mal/step9_try.mal#L113), copied below:

[code]

The condition of the `if` form is calling `(nth as

[2019-02-18 23:25] seven1m commented on #341
BTW, I just tested this with the JS implementation and got the same error (just to eliminate something weird in my own implementation):

[code]

I also see this is a soft-failing test when running the self-hosted tests against the JS implementation:

[code]

I think I'm confident in saying this is a bug in the mal implementation.

[2019-02-19 05:22] seven1m opened #342 "New Implementation in C (Compiled)"
I have just finished malcc and published it here: https://git.sr.ht/~tim/malcc

**malcc** is an incremental compiler for Mal and blazing fast. I'd appreciate a link in your readme!

[2019-02-19 08:33] dubek commented on #341
Thanks @seven1m for reporting this!

It looks like this was introduced in dd7a4f55f3bf8b172b3ddaab2f40fbc39e4cea31 when @kanaka added tests for the exceptions (before that we didn't test exceptions). As part of that commit, a catchless `try*` was added as a soft fail; he wrote:

this is the test itself:

[code]

So I guess mal is one of those few implementations that don't support catchless `try*`

[2019-02-19 08:39] dubek commented on #341
(this also revealed a bug in the Ruby implementation which was hidden, I fixed it in 2bce8a6901fd51da9ba94866506a7dbc6ebe65a1).

[2019-02-19 16:41] kanaka commented on #341
@seven1m Is that causing a hard fail for you? It's in the soft/optional test section so it should basically just be a warning. If you're seeing a hard failure then there is probably a separate self-hosting or test harness issue.

Here are the implementations that have an issue with catchless try*:

- [ ] awk
- [ ] basic
- [ ] basic
- [ ] cpp
- [ ] crystal
- [ ] d
- [ ] elisp
- [ ] elixir
- [ ] elm

[2019-02-19 16:53] #342 closed

[2019-02-19 17:10] kanaka commented on #342
Done. Cool stuff!

Now that I have you here, any chance you want to tackle a rewrite of the C interpreter? It's one of the implementations that I did early on and to be quite frank, it's not very good. As I recall it doesn't even compiles any more with updated dependencies. It's not particularly idiomatic C code, it relies on glib (it would be better if it didn't) and uses Boehm for GC (ref counti

[2019-02-19 17:20] seven1m commented on #342
Thanks for the quick update!

Yeah! I'd love to rewrite the C implementation. I'll see about "de-evolving" (love that) malcc into an interpreter.

[2019-02-19 17:23] seven1m commented on #341
@kanaka no, it's not a hard fail. Well, it's only hard-fail because I'm running `mal/runtest.py --hard --deferrable --optional` in my test process, but I realize that's not normal.

[2019-02-19 19:47] wasamasa commented on #341
I fixed it for elisp. Apparently I had code to handle this, but never properly tested it as it failed reraising the exception properly, displaying the infamous "peculiar error".

[2019-02-19 20:35] kanaka commented on #342
@seven1m awesome! I look forward to it.

[2019-02-20 07:25] dubek commented on #341
I fixed fantom, skew, tcl, vhdl.
Later I'll try to tackle d, forth, logo, rexx.

[2019-02-21 11:25] dubek commented on #341
Fixed awk, d, forth, logo, rexx.

[2019-02-26 23:43] kanaka commented on #341
I fixed basic. I also pushed a fix to the top-level Makefile so that when using REGRESS mode, the step5 excludes will still be applied to the list of REGRESS steps to run. In other words, if normal testing of basic would skip the step5 tests, then REGRESS testing of basic will also skip step5 tests.

[2019-02-27 22:40] kanaka commented on #341
Fixed crystal, kotlin, mal, and scala.

[2019-02-27 23:06] kanaka commented on #341
Fixed objpascal and r.

[2019-02-28 23:40] kanaka commented on #341
I just pushed cpp, elixir, elm, erlang, and racket. The only one left is nasm. @bendudson do you have a few minutes to fix nasm to support catchless try*?

[2019-03-01 00:16] bendudson commented on #341
Yes I'll try to fix nasm on the weekend

[2019-03-03 23:57] kanaka commented on #341
With @bendudson's fix that covers all of them. Thanks everyone.

[2019-03-03 23:57] #341 closed

[2019-03-24 16:01] 00003481 opened #346 "arithmetic operations"
the arithmetic operators +,-,*,/ are parsed well
but they are computed only as dyadic operators

quite a few implementations suffer of the same disease :-)

the included changes fix the problem for rexx
and makes them behave more according to the lisp standards

mal_add: procedure expose values. /* mal_add(...) */
    res = 0
    do  i = 1 to arg()
        res += obj_val(arg(i))
    end
    return

[2019-03-25 02:43] kanaka commented on #346
@00003481 I don't object to individual implementations supporting variadic arithmetic operations, but it's intentionally not a testing or language requirement. It's actually fairly straight forwards to use a macros to define variadic arithmetic operators using the two argument versions (the and and or macros effectively do the same thing). And one advantage is that all 75 implementations could use

[2019-03-25 02:43] #346 closed

[2019-03-31 14:48] jsloop42 opened #347 "Functions does not evaluate all expressions in it"
I am implementing MAL and found that functions does not evaluate in order. Only the first expression is evaluated.

[code]

Same for `let*` form.

[2019-03-31 14:57] jsloop42 commented on #347
Just figured that it can be implemented as [`macros`](https://github.com/chr15m/frock/blob/master/src/alias-hacks.clj).

[2019-03-31 14:57] #347 closed

[2019-04-01 10:11] sesm opened #349 "Cheatsheet link in guide.md is broken"
Cheatsheet link in `guide.md` points to http://kanaka.github.io/mal/process/cheatsheet.html, which returns 404.

[2019-04-01 15:35] kanaka commented on #349
@sesm thanks for the catch. I've corrected that link. I also noticed that the language popularity link was to a site that hasn't existed in a while so I replaced it with a couple different sites (RedMonk and GitHut 2.0).

[2019-04-01 15:35] #349 closed

[2019-05-07 22:15] kanaka opened #364 "Fix handling of empty list"
Commit https://github.com/kanaka/mal/commit/64c11d81a0735a2d7603770a8fd407c80fae6491 introduced a better way of testing nth by avoiding vectors which are deferrable. However, in the process it revealed that not all implementations are correctly handling empty lists once macros are introduced (the first test of empty list is in step2 and we don't test again in step 8).

The following implementation

[2019-05-07 22:24] kanaka commented on #364
Travis run https://travis-ci.org/kanaka/mal/builds/529508205 is most recent test run to include this additional test plus some of the fixes.

[2019-05-07 22:26] kanaka commented on #364
@bendudson Any chance you could look at fixing nasm? I tried copy the trivial empty_list test from step2 to later steps but quickly ran into some issues. Basically the problem is that the eval function needs to check to see if the ast is an empty list prior to macro expansion (in addition to after) and if it's empty return the empty list (without trying to apply it).

[2019-05-07 22:33] bendudson commented on #364
Yes no problem. It may be a few days before I can get to this though.

[2019-05-08 18:16] kanaka commented on #364
@bendudson I figured out what I was doing wrong (step5 onwards requires `jmp .return` and not just `ret` from the `.empty_list` routine). The change now passed all the tests. When you can a chance can you review it just to make sure I didn't get something subtle wrong: https://github.com/kanaka/mal/commit/7f5a3db0c658d07595d1b21c9974943044750f80

[2019-05-08 18:16] #364 closed

[2019-05-08 20:00] bendudson commented on #364
Thanks @kanaka that looks good. Sorry I didn't get to it earlier.

[2019-05-25 19:57] asarhaddon commented on #103
Hi.
It would be good to clarifiy the semantics of quasiquoting before attempting to nest.
`(quasiquote [])` has been returning `()` instead of `[]` for years despite a TODO in tests. The recursion applies the same tests to `(rest ast)` than to `ast`, causing surprising errors for `(quasiquote (1 unquote))`. Also, `[unquote x]` is, probably unwantedly, interpreted as `(unquote x)`.
The following su

[2019-05-27 20:32] kanaka commented on #103
@asarhaddon we should definitely continue to support unquote directly under quasiquote. The tree being quasiquoted might be generated or transformed by other code (not just handwritten) in which case you wouldn't want to arbitrarily exclude unquote right under quasiquote. splice-unquote by definition must happen within a sequence but unquote can be top-level.

I agree that `[unquote x]` being hand

[2019-06-01 12:56] junjiemars opened #395 "[C] Cannot pass USE_GC to make via command line"
In C implementations (```mal/c```), can not passing USE_GC through the command line to ```make```.

[2019-06-01 13:00] junjiemars commented on #395
[#395](https://github.com/junjiemars/mal/commit/1001b3e05c30898a557d0ae69a924251b9f2ba76)

[2019-06-01 17:10] kanaka commented on #395
Can you give me a brief rationale for what this enables?

[2019-06-02 00:04] junjiemars commented on #395
```libgc-dev``` is not a standard C library, under the ```mal/c``` directory,
[code]
the ```gc/gc.h file no found``` compiler error should occurred.
If ```USE_GC``` can be passed via command line, such as
[code]
I can avoid the compiler error on some box there no ```libgc-dev``` installed.

```USE_GC``` as a feature macro already coded correctly in source code except the ```mal/c/Makefile```:

[co

[2019-06-02 01:47] kanaka commented on #395
You don't need the patch to disable gc. If you run `make USE_GC= step0_repl` it will build without gc even without the patch. Please show the problem that is happening without the patch that you are trying to fix. I.e. the full before and after that you see.

[2019-06-02 02:53] junjiemars commented on #395
In mal/c/Makefile, the using USE_GC is hard coded, so it cannot be build with USE_GC=

[2019-06-02 02:57] junjiemars commented on #395
Indeed, USE_READLINE has the same issue with USE_GC.

[2019-06-02 14:07] inkydragon commented on #51
It seems like `sep = "\r\n"` works well on cygwin now.

[code]

[2019-06-03 15:06] kanaka commented on #51
Okay, seems like this has been resolved and tested by @inkydragon in #396 (thanks!) so I'm going to close it.

[2019-06-03 15:06] #51 closed

[2019-06-03 16:28] kanaka commented on #395
It's not hard-coded. The purpose of '?=' is to provide an overridable default. For example, consider the following simple `Makefile.example`:

[code]

Here is how that can be used:

[code]

Notice that USE_GC has a value of 1 when no other command line arguments are specified. When `USE_GC=` is used, then USE_GC no longer has a value.

I'm going to close this issue and the pull request. If you sti

[2019-06-03 16:28] #395 closed

[2019-06-03 17:31] junjiemars commented on #395
Did you see CFLAGS?

[2019-06-03 18:03] kanaka commented on #395
The CFLAGS setting is protected by an `ifeq` so CFLAGS will only have `-DUSE_GC=1` if USE_GC is set to something non-blank.

Expanded example:

[code]

[code]

[2019-06-03 18:04] kanaka commented on #395
Again, please show me an actual example of the trouble you are seeing not just a description of what you think is going on.

[2019-06-04 15:45] junjiemars commented on #395
Hi, @kanaka , you are right, there are a ```ifeq``` above the code.

[2019-06-04 16:04] junjiemars opened #397 "[C] can not change CFLAGS option in Makefile on the fly"
It's not a issue,
Under the ```mal/c``` directory,
[code]
will generate the following output:
[code]
so ```-O2``` will wins, but I want to let ```CFLAGS``` includes ```-O0``` not ```-O2```.

[2019-06-04 16:05] junjiemars commented on #397
It's works
[code]

[2019-06-23 17:08] asarhaddon commented on #321
Commit a4cb289f probably allows to close this issue.

[2019-06-23 17:15] asarhaddon commented on #103
Pull request #401 hopefully improves the situation. It does not allow nesting.

[2019-06-24 03:17] chr15m commented on #321
@asarhaddon awesome!

[2019-06-24 03:17] #321 closed

[2019-06-24 03:39] chr15m commented on #321
@asarhaddon @wasamasa the things I miss most when using `mal` are [the hacks in here](https://github.com/chr15m/frock/blob/master/src/alias-hacks.clj) - do you think those could go into the mal `lib/` folder or are they too hacky?

[2019-06-24 17:44] asarhaddon commented on #321
The `cond` macro is already in the step files, and tested elsewhere.The remaining functions seem specific to php.
Feel free to reopen this issue, adapt the code to your needs and submit a PR.
It would be nice to find a more informative name than `frock` before insertion into `lib`.

Note that each macro now reports an error if invoked without arguments, instead of returning `nil`. This is easy to

[2019-06-25 20:19] sandinosaso opened #404 "Typescript implementation error on IE and Edge"
Hi, thank for sharing this I found a very hard to detect bug in IE10, IE11 and all the Edge versions.

In the typescript implementation for the Env it is used a Map() is used, and the whole MalSymbol object is used as a key for saving on that Map.

When doing `this.data.has(key)` being key an object (the MalSymbol) it returns **false** in IE, Edge even when I see the key is present in the Map obje

[2019-06-26 05:33] sandinosaso commented on #404
This could be fixed adding a Map() polyfill

[2019-07-15 18:26] kanaka opened #418 "Self-host issues related to 'not' or '=' (fantom, haxe, io, nasm, powershell, r, rexx and vala)"
@asarhaddon had a modification to how self-hosting works (captured here:
https://github.com/kanaka/mal/pull/400/commits/809d74cba78643b1a452fe80e810cc3c0ce4f4e6) that triggered some issues in fantom, haxe, io, nasm, powershell, r, rexx and vala. Here is the Travis self-hosted test where the issue manifested:
https://travis-ci.org/kanaka/mal/builds/558757626

[2019-07-15 19:32] asarhaddon commented on #418
The MAL implementation has been changed in order to hide these issues. A proper fix has been found for:
- [ ] fantom
- [ ] haxe
- [ ] io
- [ ] nasm
- [x] powershell (34de12452a979a69e0a6ba120922e84d3411862b)
- [ ] r
- [x] rexx (82bc78eb4342737a719c30b402b5ce24d1e010e8)
- [ ] vala

[2019-07-15 20:35] kanaka commented on #418
Strangely, the vala issue appears to go away if you make this change:

[code]

If you remove any number from the list then the assertion errors re-appear and things don't work correctly. It appears to me that the issue appears when the number of mal memory objects allocated is below a certain threshold. @sgtatham any insight you can give on why this is happening and how to fix it? Here is what hap

[2019-07-15 20:37] kanaka commented on #418
I noted this in #400 but I'm adding it here since this ticket is tracking the issues now:

The nasm failure appears to be because the step9_try.mal file is exactly 4096 bytes. Adding or removing a character anywhere in the file fixes the issue (likewise, padding step1 to 4096 makes the problem happen there too).

@bendudson can you take a look at why nasm crashes when trying to do load-file of a f

[2019-07-15 20:55] asarhaddon commented on #418
The vala issue is reproducible with
[code]
Printing `core_ns` at the end of `core.mal` works as expected.

[2019-07-15 21:51] sgtatham commented on #418
I haven't had time to debug the Vala failure properly yet, but I've at least identified the cause of the GLib assertion-failure message. That happens in `Mal.Vector`, and the cause is that one of the references stored in the vector object turns out to be unexpectedly null, which I think must be because the garbage collector has either deliberately freed it, or accidentally dropped its reference to

[2019-07-15 23:11] kanaka commented on #418
@sgtatham valgrind might be able to help you find it. It might at least confirm what type of thing is being leaked and maybe even where it is happening.

[2019-07-16 20:17] sgtatham commented on #418
Unfortunately, vala is too smart to trigger valgrind errors! If the code had actually _used_ the value after free, valgrind would have helpfully told me where it was freed. But actually the Vala / GLib runtime notices just in time, and doesn't.

As it turned out, the important point was not where the value was freed, but where it was allocated, because that was where I should have added the missin

[2019-07-16 20:41] kanaka commented on #418
@sgtatham Good work. Thanks.

[2019-07-18 08:03] dubek commented on #418
I'm looking at io.

[2019-07-18 14:11] kanaka commented on #418
@dubek sorry, to be clear, the bugs are revealed by a prior modification to the mal implementation that never made it to master. A version was merged that worked around the problem. Here is the simple diff that should reproduce the issue:
[code]

Will trigger this behavior:

[code]

[2019-07-20 18:02] dubek commented on #418
The following extra step4 tests find a bug in the Io implementation that eventually causes this self-hosting bug:

[code]

Now I'll try to hunt it down.

[2019-07-21 08:10] dubek commented on #418
From my local tests #425 should solve the self-hosting issue in io .

[2019-07-25 04:54] kanaka opened #429 "Nasm fails on zero argument function call after step4"
This was discussed in https://github.com/kanaka/mal/pull/426 but since that issue is unrelated and already closed I'm opening this to track the issue.

The following succeeds in nasm step4 but fails in step5-A:

[code]

@bendudson, can you take a look at this? Thanks.

[2019-07-26 08:09] bendudson commented on #429
I've had a look and can't see yet where the problem is, but am getting close (I think). The following works, for example:
[code]
I think something is being freed which shouldn't be (connected to the TCO optimisation), with maybe another bug complicating things. I'll try to work this out soon.

[2019-07-26 15:38] kanaka commented on #429
@bendudson thanks. That's sounds plausible. And yeah the interaction between TCO and GC is definitely a pain.

[2019-07-27 14:16] bjh21 opened #431 "Macros don't work in second-order self-hosting"
If I run the mal implementation of mal inside itself, macros stop working (test is from `tests/step8_macros.mal`):

[code]
The problem seems to have been introduced by #400. af49dc5b works:
[code]
but ed9f32cd does not:
[code]

[2019-07-29 14:04] kanaka commented on #429
Resolved by #433

[2019-07-29 22:04] kanaka commented on #431
It turns out the key issue is the new _map? function. It causes issues in a few places but the biggest issue is that it breaks the `_macro?` function for the second order mal instance. The `_macro?` function contains a `(map? x)` call that returns false resulting in the `_macro?` call returning false. I'll push something later that fixes this and also that activates second order self-hosted tests

[2019-07-29 22:43] #429 closed

[2019-07-29 22:44] kanaka commented on #397
This was resolved by #403

[2019-07-29 22:44] #397 closed

[2019-07-29 23:28] kanaka commented on #431
ff4e5f1 has a fix and also activates a couple of second-order self-host test entries.

[2019-07-29 23:28] #431 closed

[2019-07-30 07:50] peter279k opened #434 "Drop PHP 5.x version supports"
As title, the PHP version of mal still supports the `php-5.3` versions.

And using the old Ubuntu distribution version.

IMHO, I think we can consider following enhancement works:

- Drop the older `php-5.x` version supports since the `php-7.x` versions have been released for whiles.
- Enhance the `Dockerfile` in `php` folder, let the Ubuntu distribution be the currently supported version.

Once t

[2019-07-30 15:01] kanaka commented on #434
That's fine. Are you planning on updating the implementation to support newer features of 7.x or are you just going to update the Dockerfile?

[2019-07-30 15:11] peter279k commented on #434
Hi @kanaka, thanks for your reply.

If possible, these two works you mention I can resolve them :).

[2019-07-31 17:31] kanaka opened #437 "Consider .bas extension for bbc-basic files so that LOC stats are counted"
Right now the bbc-basic implementation isn't getting counted automatically by the stats target because the modules have no extensions and the step files use an extension that isn't recognized by loccount.

@bjh21 would there be any issue standardizing the extensions to use `.bas`? Right now I have to manually update the bbc-basic data whenever I update the language graph: https://kanaka.github.io/

[2019-07-31 18:22] bjh21 commented on #437
There is a moderate-sized can of worms here.

First, the simple bit: I don't think changing `.bbc` to `.bas` would have any adverse consequences. I only chose `.bbc` because some bit of Brandy documentation used it, while none of Brandy's documentation used `.bas`.

For preference, I would have named all of the files without extensions, since that's what I'd do under RISC OS. However, the mal buil

[2019-07-31 19:05] kanaka commented on #437
You're right about the static typing for BASICs. I've update that in the graph. Don't spend too much effort solving the path extension issue. If you have an epiphany at some point then that would be great. I can manually update the bbc-basic data manually for now (although I'm sure I'll forget at some point). One option that comes to mind would be a simple build definition that does some copies to

[2019-08-02 15:44] #437 closed

[2019-08-02 16:01] kanaka commented on #437
Verified that this is resolved by #438. Thanks @bjh21

[2019-08-21 18:06] kanaka opened #443 "load-file/nil change (e6d41de) breaks self-host for a few implementations"
During testing for #442, I discovered that e6d41de broke a few implementations in step6 when self-hosting.

Here is the travis run: https://travis-ci.org/kanaka/mal/builds/574924697

Initial investigation suggests that it is probably reader tokenization issues related to the new newline in the load-file definition.

The following implementations need fixing:

[code]

Triggering the problem locally

[2019-08-21 19:13] bjh21 commented on #443
Investigating...

[2019-08-21 20:24] bjh21 commented on #443
I think this is arguably a bug in the mal implementation, or at least an ambiguity in the guide. The guide in step 6 says that `load-file` should be defined like this:
[code]
but the mal implementation defines it like this:
[code]
so the string that actually gets passed to `rep` is:
[code]
with a newline in the middle of  a string. That's permitted by the official regexp for string literals (so th

[2019-08-21 21:57] kanaka commented on #443
@bjh21 you're right, the guide is vague. I think having it vague in the guide but having a test that makes sure it works. And I think bare and escaped newlines should both work. Especially since only 5 implementations have issues.

[2019-08-22 03:17] kanaka commented on #443
Fixes for awk and bash: https://github.com/kanaka/mal/commit/c9b7b019eb9847648eb53a029f4e6e6d1e1ad585

[2019-09-10 16:57] Shadlock0133 opened #446 "runtest.py broken on Windows"
This script depends on functionality provided only on unix system. It would be good idea to fix it and make it more portable.

[2019-09-10 17:18] kanaka commented on #446
As long as Windows support is a fairly straightforwards change, I'd be happy to accept a PR. However, `runtest.py` pretty specific to unix PTY details in order to simulate interactive REPL access so I suspect it might be a bit difficult to add Windows support.  I don't have regular access to a Windows system so I can't do it myself. I suspect a better route would be documenting how to use docker o

[2019-09-11 06:46] dubek commented on #446
Here's my experience: On Windows 10 with Docker Desktop I have the Mal git repo cloned in `C:\personal\mal`; to run the tests I run the following docker command in a PowerShell window:

    docker run -it --rm -u 1000 -v c:/personal/mal/:/mal kanaka/mal-test-ocaml make test^ocaml^step2

Here's the full session:

[code]

But if you plan to develop on Windows you'll need to pay attention to the usua

[2019-10-05 22:04] rjtobin opened #452 "Hash-map literal reader syntax never introduced"
Small omission in the guide: it is implied in step 9 that a `{}` literal should be parsed as a hash-map in the reader, but this is never explicitly stated earlier on.  The sentence in question is: "This is basically the functional form of the `{}` reader literal syntax".

[2019-10-06 01:53] kanaka commented on #452
Handling of hash-map literals in the reader is described in the deferrable section of step 1. Are you wanting something more? Would you like to send a PR with the change(s) that you think would clarify this?

[2019-10-06 02:16] rjtobin commented on #452
Thanks for the quick reply!  I meant specifically the notion that `{}` represents a hash-map.  Maybe this is still mentioned somewhere?  I tried searching for every occurrence of `{` but couldn't find it.  I'm happy to make a PR with a couple of additional sentences.

[2019-10-06 02:40] kanaka commented on #452
@rjtobin oh, you're right! You're the first person to mention this. I think it quickly becomes obvious once you run any of the tests, but it does appear to be stated directly in the guide. I think the same problem applies to vectors.

Yes, please send me a PR. I'm in the home stretch of a PhD dissertation at the moment. I can give 30 seconds to sanity check a PR but all my writing mental energy is

[2019-10-06 02:49] rjtobin commented on #452
It's probably obvious to a Clojure person, but I was a little unsure.  Anyway, I'll make the PR shortly.  I'm finishing up a Zig implementation (Step9 is passing; just need to do Step A and some tidying), will hopefully make a PR for that soon too.

Good luck with the PhD writeup! I was in the same boat not too long ago.

[2019-10-06 03:22] dubek commented on #452
wow, a first implementation in 'Z' ! Exciting!

[2019-10-06 03:27] kanaka commented on #452
:+1: And then we'll just have three letters to go: 'Q', 'U', and 'X'. I suspect we'll hit 100 implementations before we cover the alphabet though.

[2019-10-08 20:04] epylar opened #453 "Possibly confusing wording in Step 5?"
The guide's step 5 says, for the default 'apply' case --

The default "apply"/invoke case of EVAL must now be changed to account for the new object/structure returned by the fn* form. Continue to call eval_ast on ast. The first element is f.

Switch on the type of f:

* regular function (not one defined by fn*): apply/invoke it as before (in step 4).

* a fn* value: set ast to the ast attribute of

[2019-10-08 20:47] kanaka commented on #453
Yes you're right, that is certainly an oversight. Would you like to submit a PR with the fix?

Out of curiosity, what language are you working on?

[2019-10-08 21:08] epylar commented on #453
@kanaka Sure, I can probably get one in this weekend. I'm doing Python 3 with type annotations and using the Arpeggio parser for Python.. the former to get some practice with mypy and the latter just for fun.

[2019-10-08 21:10] epylar commented on #453
Some of the core grammar --

[code]

[2019-10-08 23:20] kanaka commented on #453
Cool. Sounds like it might be unique enough from the existing python to be merged as a separate python implementation (see ada and ada.2)

[2019-10-12 23:29] kanaka commented on #453
Resolved by #454

[2019-10-12 23:29] #453 closed

[2019-10-15 00:20] epylar opened #456 "./.travis_test.sh failing on ada.2"
When I run `./.travis_test.sh ada`, I'm able to run the `ada` tests.

When I run: `./.travis_test.sh ada.2`, I get an error:

[code]

The trace for testing `ada` looks like this:

[code]

[2019-10-15 02:10] kanaka commented on #456
@epylar what version of bash are you running? I don't see this with bash-4.3.46. I can't set a variable with a period in the name (so the mode logic should probably be fixed to account for that) but neither does it error for the variable name expansion like it is for you.

[2019-10-15 20:57] epylar commented on #456
@kanaka I'm using:

```GNU bash, version 5.0.3(1)-release (x86_64-pc-linux-gnu)```

[2019-10-15 21:03] kanaka commented on #456
@epylar huh, okay. Must have made the variable name expansion more strict in 5. I think we could probably just translate `.` to `__` (double underscore) for mode variables. Want to take a stab at it?

[2019-10-16 06:13] dubek commented on #456
This works for me locally with bash 4.4; @epylar can you try?

[code]

[2019-10-16 16:30] andrey-leshenko opened #457 "TCO in self-hosted mal"
It's unclear if the self-hosted mal implementation is supposed to have TCO.

The self-hosted version can inherit TCO from the mal language itself, but this requires the `apply` function from step 9 to also have TCO, which is not stated in the guide.

In my implementation, changing `apply` was the only thing necessary to get TCO working in the self-hosted implementation.

If this is the implied sol

[2019-10-16 16:52] epylar commented on #456
@dubek This patch works and passes tests for both `ada.2` and `python.2` on my system (calling with `./.travis_test.sh test ada.2` and `./.travis_test.sh test python.2`).

[2019-10-16 16:53] epylar commented on #456
@kanaka Looks like @dubek solved it.

[2019-10-17 20:23] #456 closed

[2019-12-13 20:34] rectalogic opened #479 "defmacro! and mutating"
The docs imply that `defmacro!` should set the `is_macro` attribute on the evaluated function (mutating it):

https://github.com/kanaka/mal/blob/master/process/guide.md#step-8-macros

But meanwhile there is a test that the function is not mutated (52 of the implementations soft-fail this test):

https://github.com/kanaka/mal/blob/master/tests/stepA_mal.mal#L291

e.g. `ada` fails (it mutates the fu

[2019-12-14 04:26] kanaka commented on #479
I left it vague intentionally. Ideally, the creation of a macro should copy the function without mutating it. But in some implementation languages, it's difficult to "clone" functions (specifically closures), so I left it vague but have a soft test to indicate if the implementation is doing the less ideal mutate in place. If you would like to adjust the guide slightly to indicate that non-mutating

[2019-12-27 01:22] zsdz opened #483 "Use clojure got error:"No :main namespace specified in project.clj.""
When I try to use clojure version of mal,got error:

C:\code\clojurefromgithub\mal\clojure>lein with-profile +stepX trampoline run
Warning: profile :stepX not found.
No :main namespace specified in project.clj.
Error encountered performing task 'trampoline' with profile(s): 'base,system,use
r,provided,dev,stepX'
No :main namespace specified in project.clj.

this error both occours in win and ubunt

[2019-12-27 01:24] #483 closed

[2020-01-04 14:12] DarkDust opened #485 "String reading clarification"
In step 6, one of the tests is failing for my mal implementation since my interpreter is not reading a string correctly. The failing test is:

[code]

As far as I can see, this string is either ill-formed or I didn't understand the escaping of strings in mal. My interpreter sees `"\\"` and turns that into a string with single backslash. After that follows `\\n\\' (lacking any other rules, interpre

[2020-01-04 15:26] wasamasa commented on #485
I don't see any such test in the repository. The closest thing I could find is:

[code]

This string is interpreted as follows: String start, escaped double quote, escaped newline, escaped double quote, string end. This is turned into a string of three characters, double quote, newline, double quote. `read-string` interprets this as a string consisting of a single character, the newline. The inter

[2020-01-04 17:04] DarkDust commented on #485
My bad, the output of `make "test^foo^step6"` printed it the way I was quoting, the test is actually the one you cited and the error was that the newline wasn't escaped in my output. Thank you very much.

[2020-01-04 17:04] #485 closed

[2020-01-12 18:30] dekrain commented on #479
My solution is to create a new construct `macro*`, which is the same as `fn*` but creates macros.
Example:
[code]

[2020-01-13 19:31] alimpfard opened #490 "Tests for step6 neglect the requirement that atoms are not to be referenced only by name"
local atoms to `let*` are to be 'leaked' if they are closed over.
This might seem like an obvious requirement, but some languages can not store things by reference

[code]

[2020-01-15 15:31] alimpfard opened #491 "[Feature request] Add a way for the test runner to write crlf instead of lf"
In trying to test the (initial workings of) XPL0, I encountered an issue with the input style.
As all of the XPL0 implementations I found were for DOS, and DOS loved its CRLF, There is no way to stop at reading LF (something gobbles that up? `dosemu` seems to).

of course, this could also be mitigated by replacing all \n in the input with \r\n, but that feels more ugly than just adding a `--crlf`

[2020-01-15 15:55] kanaka commented on #491
LGTM. Send me a PR and I'll merge once it passes.

[2020-01-15 16:21] kanaka commented on #479
I'm going to close this. @rectalogic if you want to submit a PR updating the guide to clarify that either option is reasonable, I would consider merging that. @dekrain that's a fine solution. If you then defined a `defmacro!` function that rewrites `fn*` to `macro*` then it should still pass the tests.

[2020-01-15 16:21] #479 closed

[2020-01-15 16:29] kanaka commented on #490
@alimpfard that's a good test addition. I think most lexical closure reference bugs will be caught by other tests but there is still a possibility that test will catch something unique to atoms. Can you send a PR for it (and then close this ticket)? From Travis results we'll be able to see if there are any implementations that violate that test and fix them before merging the test update.

[2020-01-15 18:59] alimpfard commented on #491
might as well close this

[2020-01-15 18:59] #491 closed

[2020-01-15 22:21] kanaka commented on #490
I'm closing this in lieu of PR #493

[2020-01-15 22:21] #490 closed

[2020-02-11 11:42] wags-1314 opened #495 "Not able to run tests"
I just forked the repo and wrote the program for the first step and I just got errors.

[output of `make "test^python3^step0".](https://github.com/kanaka/mal/files/4185413/err.txt)
[the parent Makefile.](https://hastebin.com/obilelejan.makefile)
[my python3 file.](https://hastebin.com/ajenicilib.py)
[my run file.](https://hastebin.com/yasebaboyu.bash)

Im running all these commands from cygwin

[2020-02-11 15:05] kanaka commented on #495
@wags-1314 I don't a Windows system where I can easily run Cygwin. However, I do notice that you implementation is missing a loop so I would fix that problem first.

[2020-02-12 06:07] #495 closed

[2020-02-12 06:07] wags-1314 commented on #495
I recloned and ran it once again, and it started to work. It may have been the loop.

[2020-02-12 06:16] wags-1314 opened #496 "Unable to succeed in a test"
I am currently in step 2: eval. My interpreter keeps failing at the test:
[1 2 (+ 2 3)] => [1 2 5]
[Here's my repo](https://github.com/wags-1314/mal/tree/master/python.3).

[2020-02-12 06:41] #496 closed

[2020-02-27 03:33] zhlisp opened #498 "有人用scratch实现这个lisp了吗？"
请问有人计划用scratch来实现这个lisp吗？

[2020-02-27 18:31] wasamasa commented on #498
I've used Bing's translator for this, so pardon for any mistakes.

No, I doubt anyone is working on implementing MAL in Scratch. Here are some reasons:

- Scratch is a visual programming language, projects are exported to ZIP files containing JSON and who knows what else. This repo contains implementations stored as textual files. At best we'll link to your implementation, this has been done for H

[2020-04-17 03:18] Discmonkey opened #503 "Slight tweak to regex"
While working through implementing step 6 of MAL, I ran into a strange issue where my tokenizer was grabbing "empty" tokens.

After testing for a little bit, I noticed that the error was due to extra white spaces in any input. IE, (  + 4 4) produces these empty tokens.

After looking at the regex it became pretty clear that the issue lies in the "symbol" match, which is currently represented as [^

[2020-04-30 02:43] jophde opened #504 "Permissions Issues"
I am getting the following when trying to run `make "python"` (or `make "go"`):
[code]
Both `python/run` and `go/run` have the execution bit set.  I also tried setting it anyway.  Interestingly if I run `make python_MODE=python -C python step0_repl.py` it works.

[2020-05-16 22:36] kanaka commented on #504
@jophde just realized I never replied to this. Those commands work for me. Without more context I'm not sure what you are trying to do or what exactly is going wrong. `make python` doesn't actually build anything, it just makes sure the interpreted files exist. `make go` should compile the steps using the go executable.

[2020-05-16 22:59] kanaka commented on #503
@Discmonkey sorry for the really slow reply. I think there are some implementations with regex engines that don't properly support `+`. Most implementations that use regex tokenizing ignore any tokens that are empty by checking the token list after matching. I don't object to this in principle. If you are willing to send a PR with this improvement to the implementations that use this specific rege

[2020-05-20 16:07] bjh21 commented on #503
FWIW, my in-progress APL implementation hit a problem caused by that very `*`: the tokenizer kept matching, presumably at the end of the input, generating empty tokens and eventually consuming all my RAM in the process. I think this is a bug in GNU APL, but changing the expression to forbid empty matches worked around it.

[2020-05-22 13:29] Discmonkey commented on #503
@kanaka ,

Thanks for your response. Let me do a quick pass over different implementations to see what uses regex engines, and which regex engines support +.

[2020-06-02 15:11] bjh21 opened #516 "conj shouldn't appear on step9_try.png"
The image `process/step9_try.png` includes `conj` in the core namespace.  However, `conj` isn't introduced until step A (where it correctly appear in red already). It should thus be removed from the step 9 image.

[2020-06-03 17:54] #516 closed

[2020-06-03 19:17] bjh21 commented on #516
Ah.  I had wondered why I couldn't find "conj" in the source.  Thank you.

[2020-08-02 14:09] joseph-peano opened #524 "Discussion: Make-A-Lisp for Modeling and IPC"
Use MAL for interoperability between different languages.

[2020-08-02 22:23] #524 closed

[2020-08-08 04:54] nathanKramer opened #525 "Strange reader error test failure in step 1"
I'm on step1 and am running the tests. The reader error tests are failing inexplicably.
From what I can tell, I should use "EOF" "end of input" or "unbalanced" in my error message somewhere.
I'm basing this off of the test case which uses the following pattern:

`.*(EOF|end of input|unbalanced).*`

As you can see below, I'm including "end of input" in my output...

[code]

My implementation is in

[2020-08-08 08:00] nathanKramer commented on #525
Looks like this test failure was in the "deferrable functionality" section, which I suspect means I don't need to worry about this right now any way...

[2020-08-08 08:00] #525 closed

[2020-10-14 17:17] #498 closed

[2020-10-14 17:20] wasamasa commented on #329
I went over the issue tracker and found this is still open. New Excel versions have Power Query which gives you access to the functional M programming language.  This might give you a better way than VBA.  I still don't see any feasible way to test an implementation with our test rig though, so it will have to live in its own repo if that's indeed the case.

[2020-10-22 13:02] vrruiz opened #536 "make doesn't work as expected"
Step 0 says: ``Create a step0_repl.qx file in quux/``.

However, by doing a ``make quux``, Makefile calls ``impls/quux``. In my case:

[code]

[code]

So, even if the path on the Makefile has been changed to ``rust/`` instead of ``impls/rust``, it goes to ``impls``.

[2020-10-25 06:06] dubek commented on #536
Thanks @vrruiz  for noticing this and reporting. The Makefile is OK; the guide should be fixed.

Historically all the implementations were at the root of the project. At some point they were all moved to the `impls` directory and the Makefile was updated, but I assume there are missing places to fix in the guide.

If you wish, you can fix the guide in the relevant places and open a PR.

Again, tha

[2020-11-27 05:18] AP2008 opened #542 "Tests don't work on native Windows"
Tests doesn't seem to work on native windows.
Are there any fixes on it ?
This is the output after running mingw32-make to test:

[code]

[2020-12-21 22:42] stereobooster opened #543 "Implementation in Ponylang"
Hi 👋

I started to implementation of MAL in Ponylang. It is not yet finished I'm at step 8.5. But just in case anybody interested here is the link https://github.com/stereobooster/pony-lisp

[2020-12-21 23:58] sogaiu commented on #543
Thanks for sharing!

Nice that you have some related blog posts too :)

[2021-01-03 18:55] calroc commented on #542
The problem is you're running Python 3.9 and the `runtest.py` script is written to Python 2.  (I just had the same problem.)

[2021-02-11 15:50] RedCat256 opened #550 "Memory leak in cpp implementation"
Hi,
  I test the cpp implementation on my ubuntu system using `valgrind ./stepA_mal`..
  Got the following output:
[code]
It's obviously lost 45 bytes.
The root of the problem comes from 'ReadLine.cpp':
[code]
I think there should be `free(line);` after `out = line;`

[2021-02-14 10:57] wasamasa commented on #550
Thank you, that's indeed the case.

[2021-02-14 10:58] #550 closed

[2021-04-05 17:54] #329 closed

[2021-04-07 14:40] twolodzko opened #556 "`do` does not have to be tail recursive optimized (?)"
Unless I'm missing something, `do` function does not have to be tail recursive optimized, as it behaves same as functions that are functions that are evaluated in a standard way. In fact, it does work same as calling something like `(last (list ...))`.

My guess is that `do` was added to the list of commands to be tail recursive optimized, because in other lisps (Scheme, Racket, Clisp) do is a loo

[2021-04-19 21:47] #536 closed

[2021-04-21 23:30] kanaka commented on #556
To minimize stack memory consumption, any forms that are in tail position should be evaluated without creating a stack frame. If you have a do form: `(do (fn1) (fn2) (fn3))`, the evaluator function in the implementation language evaluates each of the do forms. When processing `(fn1)` and `(fn2)` the evaluator needs to keep track of the fact that there is more to process. It has to remember the add

[2021-04-21 23:30] #556 closed

[2021-04-21 23:36] kanaka commented on #542
@AP2008 @calroc sorry for the really slow followup. I basically took a long break from open source/mal stuff.

It probably wouldn't be that hard to conditionalize the termios import and usage (in just a single place). That might not be the only Windows incompatibility though. I don't have easy access to a Windows system to do these changes (nor the motivation). However, I'm willing to review and m

[2021-04-21 23:37] kanaka commented on #504
Closing due to no reply.

[2021-04-21 23:37] #504 closed

[2021-04-21 23:37] kanaka commented on #503
@Discmonkey I'm closing this since it is pretty stale. If you ever get around to this, ping me and I'll re-open it.

[2021-04-21 23:37] #503 closed

[2021-04-21 23:41] kanaka commented on #457
@andrey-leshenko Sorry for the super slow reply. Somehow this slipped through the cracks. If you are still interested in this, I would be happy to consider a pull request updating the guide to mention this. I'm going to close this in the meantime.

[2021-04-21 23:41] #457 closed

[2021-04-22 06:53] twolodzko commented on #556
Thanks for the clarification!

[2021-04-25 00:58] calroc commented on #542
On Wed, Apr 21, 2021 at 04:36:40PM -0700, Joel Martin wrote:

No prob, these things happen. :)

You know mal is on HN front page today? https://news.ycombinator.com/item?id=26924344

I'll take a whack at it soon and see if I can't get a decent PR together.

Great project BTW, I really enjoyed it even though I didn't finish an
implementation.

[2021-05-17 23:59] wgmyers opened #560 "Reader macro tests could be more rigourous"
I had a go at implementing Mal in Ruby and somehow managed to get all the way to completion of Step A - including passing all the self-hosting tests - with a huge bug in the reader macro expansion code.

This only came to light when `make "perf^foo"` failed.

Turned out that the 'time' function was being truncated after the first `let*` in the quasiquote. Replacing the backtick with the quasiquote

[2021-05-18 01:14] wgmyers opened #561 "Project is too addictive"
Thank you for Mal.

Having now implemented Mal in Ruby up to step A and including self-hosting, I have learned a great deal about Ruby and even [a certain amount of Lisp](https://github.com/wgmyers/mal/blob/master/impls/ruby-wgm/test/life.mal). It has consumed all my free time over the last couple of weeks and I am very glad to have done it.

I'm not sure that there would be any interest my second

[2021-05-18 11:16] wasamasa commented on #561
I agree with the fun bit being almost addictive.

Regarding COBOL, I've made [this repository](https://depp.brause.cc/mal-candidates/) to test languages before implementing MAL in them. I have an incomplete uncommitted `cobol` directory because I didn't understand it sufficiently to actually write functions (that is, the kind accepting arguments) as opposed to subroutines (which don't accept argum

[2021-05-20 22:49] kanaka commented on #561
@wgmyers To be honest, the addictive nature was not entirely unintentional. After I realized that the project would be useful as a pedagogical tool for others, I applied aspects of "gamification" to the structure of the project. I even did a talk in 2015 (https://www.youtube.com/watch?v=lgyOAiRtZGw) about how the make-a-lisp process fulfills the five aspects of gamification defined by Charles Coon

[2021-05-20 22:49] #561 closed

[2021-05-20 22:51] kanaka commented on #560
That's a good catch. Can you send a pull request with a test addition to step7 tests that covers this? Then I'll activate Github CI against the PR to make sure that all the other implementations also pass and merge it if so (and if they don't pass then we'll work on fixing those implementations first).

[2021-05-27 01:41] wgmyers opened #562 "Atom support for Mal is poor"
I should know: such minimal support as exists - until now there wasn't any at all - is all my fault. Apologies in advance.

So fwiw I have implemented basic Atom support for Mal: https://atom.io/packages/language-lisp-mal

(Sadly, language-mal was taken, hence language-lisp-mal.)

In the unlikely event that the Venn diagram of people playing around with Mal and Atom users consists of anyone other

[2021-05-27 03:10] sogaiu commented on #562
I don't know if you are interested in using tree-sitter, but FWIW, there is this: https://github.com/sogaiu/tree-sitter-mal

[2021-05-27 03:28] wgmyers commented on #562
Thank you! That would certainly take the pain out of making a tree-sitter version: having to write a tree-sitter grammar first before going ahead with the syntax highlighter was why I chose to go the TextMate route.

[2021-05-28 19:47] wgmyers commented on #560
Just working on this now, and have hit an 'I don't really know what I am doing' problem.

In order to use the test above, I have put the test addition into step8 rather than step7, so I can use defmacro!.

The test has been modified slightly - the macro is as above but collapsed to one line (test suite doesn't seem to like multi-line expressions); also the spurious space at the end of the first ar

[2021-05-29 08:35] asarhaddon commented on #560
Hi.
The `ada.2` implementation answers:
[code]
This makes sense. `let*` tries to evaluate `("bol")` before assigning `s`, but the list fails to evaluate during the apply phase because its first element is a string, hence not executable.

Could you please submit your interpreter and/or test the following commands?
[code]
All four should answer `(let* (s ("bol")) (do (println "sym:" s)))`.

I am als

[2021-05-29 08:37] asarhaddon commented on #562
Please rename this issue.  There is an `atom` type in MAL with deliberately limited support, so the current title is confusing.

[2021-05-29 12:56] asarhaddon commented on #241
Hi.

Why is function metadata required for self-hosting?

For some low-level implementations, adding metadata for functions, especially built-in functions, brings no benefit for understanding LISP or self-hosting. It increases the complexity of `types` late in the process, potentially requiring modifications and debugging in some core functions and all previous steps. I am dubious about the educat

[2021-05-29 13:08] asarhaddon commented on #452
Some related questions…

* Should we rename `hash-maps` to `maps`? The term is confusing as the underlying implementation is irrelevant.

* What is the purpose of `dissoc`? I know it is already optional, but passing all optional tests seems a common motivation.  From my experience, `dissoc` is a painful step in languages without native mutable maps.  I once implemented immutable AVL trees, `dissoc

[2021-05-29 16:02] wgmyers commented on #562
Apologies. Done.

[2021-05-29 16:22] wgmyers commented on #560
Thank you.

My interpreter is here fwiw: https://github.com/wgmyers/mal/tree/ruby-wgm/impls/ruby-wgm - running the four tests you suggested do indeed all answer `(let* (s ("bol")) (do (println "sym:" s)))`.

The underlying issue is me not yet having a full understanding of when lists are evaluated during the apply phase, attempting to use expressions like `("bol")` when a correct implementation sh

[2021-05-29 22:32] asarhaddon commented on #562
Apologies in return, then.  Your answer makes me realize that my tone was crude, please be indulgent to my english skills and have fun with MAL !

[2021-05-29 23:02] asarhaddon commented on #560
A bug crashing `perf.mal` after passing all existing tests is definitely worth a new test.
But I am a bit lost in your history.  Could you please refer to a commit passing all existing tests and crashing `make perf^ruby-wgm` (or a more simple valid program, of course)? Thanks.

[2021-05-30 00:37] wgmyers commented on #560
I think the commit that fixed it was this one:

https://github.com/wgmyers/mal/commit/ca801cc1e82926c9a37b52e9dc1b87c094a08d38#diff-1cff364f582518ba9c02dd928b6df7f85e697c5639b59ccf5bedf3cf09968656

[2021-05-30 00:43] wgmyers commented on #562
Not at all, no need to apologise. Thank you for pointing out the ambiguity - if I have been struggling to write anything useful in Mal, it is in part because I keep forgetting about Mal atoms...

[2021-05-30 21:24] asarhaddon commented on #560
It seems difficult to extract a minimal test, and such a test may not be as useful as I expected because few implementations will mix list/vector/map delimitors and reader macros.

[2021-05-31 15:36] kanaka commented on #562
@wgmyers nice! Please send a PR with a modification to the README to add a link and brief description of this (probably to the "Other mal Projects" section).

[2021-06-01 13:05] aymenchebbeh opened #567 "Make my own programming language"

[2021-06-01 13:08] #567 closed

[2021-06-02 18:13] borkdude opened #568 "GraalVM native image compilation of mal"
Hey @mmcgill, relaying a message from @borkdude who tried to build native with native-image and ran into some issues: https://gist.github.com/borkdude/e0e12997ce3a7b09b44f15769add85a9 (tweet for reference: https://twitter.com/borkdude/status/1400149389654597632)

If either of you are interested in working this further, can one of you open a mal issue for tracking and discussion? Thanks.

_Original

[2021-06-02 21:50] borkdude commented on #568
By request of Thomas Wuerthinger, I also logged an isuse here: https://github.com/oracle/graal/issues/3448

[2021-06-03 16:32] differentsmoke commented on #542
@kanaka I ran into the same issue. It is easy to overcome by using WSL (at least in my use case), but on a broader level shouldn't the tests be updated to rely on Python 3 since Python 2 is no longer supported?

[2021-06-05 16:20] mmcgill commented on #568
Hi @borkdude! Thanks for sharing this. I never got around to trying native image compilation, so I'm not surprised it doesn't work yet.

I'll see if I can narrow the problem down. Hopefully it turns out to be fixable without significant rework :)

[2021-06-05 19:18] mmcgill commented on #568
Well, good news and bad news :)

**Good news:** I've got a native image of `step2_eval` (though I had to add a missing `@TruffleBoundary` and then tweak some code to work around a SIGSEGV during compilation that might warrant another bug report if I can manage to provide a smaller reproducing case).

**Bad news:** Getting past your error required deleting all the other steps. I don't know anything

[2021-06-05 19:21] borkdude commented on #568
@mmcgill Cool! Please keep me posted.

[2021-06-06 12:53] mmcgill commented on #568
Success! Step E AOT compiles now, only took a few minor changes.

[code]

I'm hopeful that I've found all the trouble spots. I'll get the rest of the steps in shape. I'm thinking I'll also update the build to (optionally?) produce a native image that gets used to run the tests.

Thanks for trying this out, @borkdude!

[2021-06-06 12:55] borkdude commented on #568
Looking forward to inspect the changes and learn more!

[2021-06-06 22:20] mmcgill commented on #568
@borkdude I've submitted a PR. All steps AOT compile for me now.

[2021-07-21 13:03] Garklein opened #579 "Not sure how to implement test"
When I got to the self hosting step, I had a bug that took me a week to track down. It was that whenever a hashmap was in a function and the function was called, it would replace the parameters in the mal function ast hashmap with the data of the arguments that the function was being called with. It happened because of JS's stupid object copying system.
How I found it was by making a function in m

[2021-07-21 14:40] Garklein commented on #579
Never mind, I'll just find a situation where it crashes it and use that.

[2021-07-21 14:40] #579 closed

[2021-08-16 18:39] opain-replika opened #585 "Does there exist implementation of emacs written in mal?"

[2021-08-21 18:15] asarhaddon opened #587 "Consider merging eval, eval-ast and macroexpand"
Hello.

A suggestion may simplify the process, or at least most existing implementations as far as I have experimented.

Please be indulgent for the argumentation, english is not my native language.

* `EVAL` should switch on the type of `ast`.  The fact that list evaluation is normally a function call would be easyer to understand. In the current process, `eval-ast` is confusing because it has tw

[2021-09-11 15:25] wasamasa commented on #585
Such a thing isn't exactly practical as MAL implements just enough to implement an interpreter in. The most advanced text editor I can imagine written in it would be something like [kilo](https://github.com/antirez/kilo) (nano-like) or [vip](http://picolisp.com/wiki/?vip) (vi-like).

[2021-09-11 15:25] #585 closed

[2021-10-06 01:44] rohan-mehta-1024 opened #593 "Problem Running Tests with Readline Library in C"
Hello I am having an issue trying to run the first test (my implementation is in C). I have created the following makefile which works when I run "make" in the directory of my implementation:

program: step0_repl.c
	gcc -ledit step0_repl.c

But when I try to run the first test, it gives this error (there is some problem with the readline library?):

/Applications/Xcode.app/Contents/Developer/usr/b

[2021-10-06 10:23] dubek commented on #593
Hi @rohan-mehta-1024 , try adding `-lreadline` as another argument to your `cc` line.

[2021-10-07 23:44] rohan-mehta-1024 commented on #593
Hello @dubek, unfortunately this returns the same error message. Also, that `cc` line is what is run internally by the  "text^quux^step0_repl" command - is there any way for me to get it to work by just running this command with some other argument? The thing I find confusing is when I just run `make` in the implementation directory, it compiles fine, but it's not able to compile when I try to run

[2021-10-08 01:36] rohan-mehta-1024 commented on #593
Actually, now if I compile it first by running `make` in the implementation directory and then trying to run `make "text^quux^step0_repl"` at the top level, I get this error:

/Applications/Xcode.app/Contents/Developer/usr/bin/make -C impls/c step0_repl
make[1]: `step0_repl' is up to date.
(call STEP_TEST_FILES,c,step0): impls/tests/step0_repl.mal
----------------------------------------------
Tes

[2021-10-08 20:48] #593 closed

[2021-11-23 19:38] cookrn opened #596 "Newline Escaping"
I think there might be conflicting direction between step 1 (reader) and step 4 (if/fn/do) as it relates to basic newline escaping/unescaping in strings. I'm currently working through the tutorial in Ruby and worked on getting this test to pass in step 1:

https://github.com/kanaka/mal/blob/master/impls/tests/step1_read_print.mal#L248-L249
[code]

Then, in step 4, related to #289, the test is as f

[2021-11-26 17:14] cookrn commented on #596
I think after looking again/further, this is based on a misunderstanding on my part. I'll review and compare with the existing Ruby implementation. Thanks again for the great project!

[2021-11-26 17:14] #596 closed

[2021-12-10 02:38] rohan-mehta-1024 opened #598 "What was used to make the MAL diagram?"
Not an issue, but am curious about what software was used to make this diagram
![stepA_mal-1](https://user-images.githubusercontent.com/69774557/145507982-8ed2e19b-b1ef-419b-af21-5fc466e12eb7.png)

[2021-12-11 15:03] kanaka commented on #598
gliffy. If I was starting now I would use drawio. At some point I may convert the diagrams into a single drawio diagram that uses layers for each step.

[2021-12-11 15:03] #598 closed

[2021-12-23 10:29] ChengxiX opened #601 "what is the minimum requirement for the base language?"
I mean，what is the basic functions that the language which i choose for the interpreter?
for example can i make a modernized lisp machine by gates?and what is the challenge for this?

[2022-01-03 09:36] peepo opened #603 "Verilog: is there a good reason mal has not been implemented?"
likely beyond my skill set,
but would like to work through project,
cookbook style,
once available...

[2022-01-09 08:25] dubek commented on #603
It's because no one has submitted an implementation PR yet :-)

Note that even to implement mal step0, you must implement a wrapper so that input from terminal can be fed into the Verilog "program", and the output can be displayed back in the terminal.

Good luck!

[2022-01-09 08:25] #603 closed

[2022-01-11 18:16] peepo opened #604 "VHDL: defmacro! doesn't modify existing functions"
I am just beginning to review the VHDL version,
please could this expression be elaborated?
ie is this a defect of the implementation?
or what is the reason for its inclusion?
It has been applied to three of the tests, does it perhaps mean different things?
etc.
thanks!

[2022-01-12 05:52] dubek commented on #604
I think you're referring to the change in PR #532: before this fix, the two final (optional) tests of in `tests/stepA_mal.mal` failed:

[code]

That PR fixed this by creating a copy of the function given to `defmacro!`, and only modifying that copy to be a macro.

[2022-01-12 06:11] dubek commented on #601
See the [Pick a language](https://github.com/kanaka/mal/blob/master/process/guide.md#pick-a-language) section of the Mal implementation guide.

[2022-03-13 04:34] purplejacket opened #612 "make "test^js^step0" fails -- Fatal error in , line 0 -- Check failed: result.second."
I've cloned the mal project and am attempting a few basic tests.  These three work:

[code]
I'm running MacOS:
[code]

These versions of node, python:
[code]

(I tried deleting node_modules and ran `make all` in the impls/js directory, no help.)

This is what I'm getting, **from a fresh clone of the repo:**

[code]

Interesting, I note that this also fails, and in almost the same way:

[code]

[2022-03-13 05:02] purplejacket commented on #612
Huh.  This was a problem with the node version.  Version 16 seems to fail but version 17 works.  Above the failure is with v16.13.2 but it also fails with v16.14.0 -- and that's an LTS version.  However, this works:

[code]

[2022-03-13 05:02] #612 closed

[2022-09-10 22:43] glyh opened #620 "PDFs?"
I really like this document, and I'd like to turn it into PDF so I can refer to on my e-ink reader. Does anyone know how to do it conveniently?

Thanks!

[2022-10-17 06:49] hunar1997 opened #622 "Somebody should solve Rosetta Code challenges with mal"
Hello :)

I'm happy that this project exists, but I'm not interested in implementing it due to not having time :(

But I'm interested in seeing how the language works as an actual programming language. I thought there would be a mal section in [Rosetta Code](https://rosettacode.org/wiki/Rosetta_Code) which is in my opinion the best way to see how a language works. I hope somebody will slowly start